.personal-title {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .photo {
    height: 50px;
    width: 50px;
  }

  .name {
    margin-top: 8px;
    color: #ffffff;
    font-size: 16px;
  }

  .phone {
    margin-top: 8px;
    color: #ffffff;
    font-size: 13px;
  }
}

.personal-content {
  margin-top: 170px;

  .personal-list {
    li:first-child {
      border-top: 0;
    }
  }
}
