.dept-list-content {
  background-color: #ffffff !important;

  .district-buttons {
    padding: 8px 35px;
    border-bottom: 1px solid #dddddd;

    .district-button {
      min-height: 32px;
      line-height: 32px;
      font-size: 14px;
    }
  }

  .dept-select {
    display: flex;
    flex-direction: row;
    overflow: auto;

    .dept-scroll {
      height: 100%;
      overflow-y: auto;
      border-top: 1px solid #999999;

      .dept-div {
        border-bottom: 1px solid #dddddd;
        border-left: 3px solid transparent;
        font-size: 18px;
        color: #666666;
        padding: 8px 0 8px 20px;

        .icon-dept-select {
          display: none;
          margin-right: 3px;
        }

        .icon-dept-selected {
          display: inline-block !important;
        }
      }

      .dept-div-left {
        border-left-color: #387ef5;
      }
    }

    .dept-scroll-left {
      border-right: 1px solid #999999;
      width: 35%;
      background: #f0f0f0;
    }

    .dept-scroll-right {
      width: 65%;
    }
  }
}
