.paySelect-content {
  background-color: #ffffff!important;

  li:first-child {
    border-top: 0;
  }

  li {
    position: relative;

    i {
      font-size: 22px !important;
    }

    .money {
      position: absolute;
      right: 20px;
      font-size: 20px;
    }
  }

  .item-avatar-left {
    padding-left: 62px !important;
    min-height: 50px;
  }

  img {
    width: 30px !important;
    height: 30px !important;
    position: absolute !important;
    top: 10px !important;
  }

  .countDown {
    font-size: 16px;
    text-align: center;
    padding: 0 0 20px 0;
  }

  .confirm {
    padding: 0 10px;

    .button {
      width: 100%;
      min-height: 42px;
    }
  }

  .select-none {
    display: none;
  }
}
