<ion-header-bar class="bar-light">
  <a class="a-return positive" href="javascript:history.go(-1)">
    <i class="icon ion-ios-arrow-left"></i>
    <div>返回</div>
  </a>
  <div class="title">
  </div>
</ion-header-bar>
<ion-content id="registrationDateList_content" scroll="false" class="has-header registrationDateList-content">
  <div class="registrationDateList-date">
    <div class="positive month">8月</div>
    <table>
      <tr>
        <td class="week" width="13%" ng-click="dayClk('1')">周一</td>
        <td class="week" width="13%" ng-click="dayClk('2')">周二</td>
        <td class="week" width="13%" ng-click="dayClk('3')">周三</td>
        <td class="week" width="13%" ng-click="dayClk('4')">周四</td>
        <td class="week" width="13%" ng-click="dayClk('5')">周五</td>
        <td class="week" width="13%" ng-click="dayClk('6')">周六</td>
        <td class="week" width="13%" ng-click="dayClk('7')">周日</td>
        <td rowspan="2" width="9%" ng-click="dayPicker()">
          <i class="icon ion-ios-arrow-down positive"></i>
        </td>
      </tr>
      <tr>
        <td class="day" ng-click="dayClk('1')">
          <div ng-class="{true: ['positive','day-selected']}[daySelected.select_1]">1</div>
        </td>
        <td class="day" ng-click="dayClk('2')">
          <div ng-class="{true: ['positive','day-selected']}[daySelected.select_2]">2</div>
        </td>
        <td class="day" ng-click="dayClk('3')">
          <div ng-class="{true: ['positive','day-selected']}[daySelected.select_3]">3</div>
        </td>
        <td class="day" ng-click="dayClk('4')">
          <div ng-class="{true: ['positive','day-selected']}[daySelected.select_4]">4</div>
        </td>
        <td class="day" ng-click="dayClk('5')">
          <div ng-class="{true: ['positive','day-selected']}[daySelected.select_5]">5</div>
        </td>
        <td class="day" ng-click="dayClk('6')">
          <div ng-class="{true: ['positive','day-selected']}[daySelected.select_6]">6</div>
        </td>
        <td class="day" ng-click="dayClk('7')">
          <div ng-class="{true: ['positive','day-selected']}[daySelected.select_7]">7</div>
        </td>
      </tr>
    </table>
  </div>
  <ion-scroll id="registrationDateList_doctor">
    <ul class="list registrationDateList-List">
      <li class="item item-avatar-left" ng-click="doctorSelect('1')">
        <img src="./assets/images/doctor_man.png" class="list-photo">
        <div class="list-name">
          <h2>姓名1</h2>
          <p>主任医师</p>
          <div class="img-registration">
            <img src="./assets/images/appointment_available.png">
          </div>
        </div>
        <p>擅长：暂无</p>
      </li>
      <li class="item item-avatar-left" ng-click="doctorSelect('2')">
        <img src="./assets/images/doctor_man.png" class="list-photo">
        <div class="list-name">
          <h2>姓名2</h2>
          <p>主任医师</p>
          <div class="img-registration">
            <img src="./assets/images/appointment_available.png">
          </div>
        </div>
        <p>擅长：暂无</p>
      </li>
      <li class="item item-avatar-left" ng-click="doctorSelect('3')">
        <img src="./assets/images/doctor_man.png" class="list-photo">
        <div class="list-name">
          <h2>姓名3</h2>
          <p>主任医师</p>
          <div class="img-registration">
            <img src="./assets/images/appointment_available.png">
          </div>
        </div>
        <p>擅长：暂无</p>
      </li>
      <li class="item item-avatar-left" ng-click="doctorSelect('4')">
        <img src="./assets/images/doctor_man.png" class="list-photo">
        <div class="list-name">
          <h2>姓名4</h2>
          <p>主任医师</p>
          <div class="img-registration">
            <img src="./assets/images/appointment_available.png">
          </div>
        </div>
        <p>擅长：暂无</p>
      </li>
      <li class="item item-avatar-left" ng-click="doctorSelect('5')">
        <img src="./assets/images/doctor_man.png" class="list-photo">
        <div class="list-name">
          <h2>姓名5</h2>
          <p>主任医师</p>
          <div class="img-registration">
            <img src="./assets/images/appointment_available.png">
          </div>
        </div>
        <p>擅长：暂无</p>
      </li>
      <li class="item item-avatar-left" ng-click="doctorSelect('6')">
        <img src="./assets/images/doctor_man.png" class="list-photo">
        <div class="list-name">
          <h2>姓名6</h2>
          <p>主任医师</p>
          <div class="img-registration">
            <img src="./assets/images/appointment_available.png">
          </div>
        </div>
        <p>擅长：暂无</p>
      </li>
    </ul>
  <ion-scroll>
</ion-content>
