.registrationDate-title {
  position: relative;

  img {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.registrationDate-content {
  background-color: #ffffff !important;

  .registrationDate-date {
    padding-bottom: 8px;

    .month {
      padding: 5px 0 0 5px;
    }

    .day-selected {
      border-radius: 50%;
      background-color: #d0eaeb;
      height: 22px;
      width: 22px;
      display: inline-block;
      text-align: center;
    }

    table {
      width: 100%;

      td {
        text-align: center;
        vertical-align: middle !important;

        i {
          font-size: 18px;
        }
      }

      td.week {
        color: #999999;
        font-size: 12px;
      }

      td.day {
        border-right: 1px solid #dddddd;
        font-size: 17px;
        line-height: 22px;
      }
    }
  }

  #registrationDate_doctor {
    border-top: 1px solid #dddddd;
  }

  .registrationDate-List {
    li:first-child {
      border-top: 0;
    }

    .badge {
      text-align: right;
      top: 10px;
      padding: 3px 20px 3px 8px;
      font-weight: inherit;
    }
  }
}
