<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jdbc
                           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd"
       profile="production">

    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath:conf/isj/isj-production.properties,
                                            classpath:conf/isj/isj-ws-production.properties"/>

    <jdbc:initialize-database data-source="dataSource" ignore-failures="ALL">
        <jdbc:script location="classpath*:sql/isj/rule/rules.sql" encoding="UTF-8"/>
        <jdbc:script location="classpath*:sql/isj/baseinfo/baseinfo.sql" encoding="UTF-8"/>
        <jdbc:script location="classpath*:sql/isj/navinfo/navinfo.sql" encoding="UTF-8"/>
    </jdbc:initialize-database>

</beans>
