<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">列表</h1>
    <button class="button button-clear button-positive" ng-click="modal.hide()">取消</button>
  </ion-header-bar>
  <ion-content scroll="false" class="has-header buildingList-content">
    <ul class="list card">
      <li class="item item-positive">
        南湖院区
      </li>
      <li class="item" ng-click="buildingClk()">
        1号楼A座
      </li>
      <li class="item" ng-click="buildingClk()">
        1号楼B座
      </li>
      <li class="item" ng-click="buildingClk()">
        2号楼
      </li>
      <li class="item" ng-click="buildingClk()">
        4号楼
      </li>
    </ul>
  </ion-content>
</ion-modal-view>
