.hospitalNavigation-content {
  background-color: #ffffff !important;

  .district-buttons {
    padding: 8px 35px;

    .district-button {
      min-height: 32px;
      line-height: 32px;
      font-size: 14px;
    }
  }
}

.buildingList-content {
  .card {
    margin: 15px;
  }

  .item {
    padding: 10px 16px;
  }
}
