.paymentResult-content {
  .payResult-info {
    margin: 15px;
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;

    img {
      width: 70px;
      height: 70px;
    }

    .payResult-font {
      padding-top: 12px;
    }
  }

  .payResult-link {
    padding: 0 15px;

    .button {
      width: 100%;
    }
  }
}
