<ion-view>
  <isj-spinner is-show="$root.inProcess"></isj-spinner>
  <ion-header-bar class="bar-light">
    <isj-back-button go-back="goBack()"></isj-back-button>
    <div class="title">支付成功</div>
  </ion-header-bar>
  <ion-content class="has-header content-gray paymentResult-content">
    <div class="payResult-info">
      <div><img ng-src="{{resultImgSrc}}"></div>
      <div class="positive payResult-font">{{resultText}}</div>
    </div>
    <div class="payResult-link">
      <button class="button button-positive" ng-click="viewRegistration()">
        <span ng-if="fromPage == 'pay'">查看缴费单</span>
        <span ng-if="fromPage == 'register'">查看挂号单</span>
      </button>
    </div>
  </ion-content>
</ion-view>
