.pea-button-toggle {
  display: inline-block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  .md-button {
    margin: 0;
    min-width: 80px;
    border-radius: 0;
    box-shadow: 0 0 0 0 !important;
    border-left: 1px solid #e7e7e7;

    &.left {
      border: 0;
      border-radius: 3px 0 0 3px;
    }

    &.right {
      border: 0;
      border-radius: 0 3px 3px 0;
      border-left: 1px solid #e7e7e7;
    }
  }
}
