<ion-header-bar class="bar-light main-title">
  <div class="title positive">掌上盛京医院</div>
</ion-header-bar>
<ion-content scroll="false" has-bouncing="false" class="has-header main-content">
  <div class="row" style="height: 43%">
    <div id="main-carousel-col" class="col main-grid-carousel">
      <div class="main-carousel-footer">
        <div>{{carouselImages[carouselIndex].name}}</div>
        <div rn-carousel-indicators style="margin-top: -4px"
             ng-if="carouselImages.length > 1" slides="carouselImages"
             rn-carousel-index="carouselIndex"></div>
      </div>
      <ul id="main-carousel" rn-carousel rn-carousel-index="carouselIndex">
        <li ng-repeat="carouselImage in carouselImages">
          <div class="main-grid-img" style="background-image: url({{carouselImage.url}});"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="height: 19%">
    <div class="col main-grid-col main-grid-column">
      <a class="main-grid-row" href="#/main/orderRegistration">
        <span class="main-grid-icon main-grid-icon assertive-border">
          <i class="icon ion-ios-paper-outline assertive"></i>
        </span>
        <span class="main-grid-space"></span>
        <span class="main-grid-font">预约挂号</span>
      </a>
    </div>
    <div class="col main-grid-col main-grid-column">
      <a class="main-grid-row" href="#/main/dayRegistration">
        <span class="main-grid-icon main-grid-icon assertive-border">
          <i class="icon ion-ios-paper-outline assertive"></i>
        </span>
        <span class="main-grid-space"></span>
        <span class="main-grid-font">当日挂号</span>
      </a>
    </div>
  </div>
  <div class="row" style="height: 19%">
    <div class="col main-grid-col main-grid-column">
      <a class="main-grid-column" href="#/main/viewReport">
        <span class="main-grid-icon main-grid-icon positive-border">
          <i class="icon ion-ios-copy-outline positive"></i>
        </span>
        <span class="main-grid-space"></span>
        <span class="main-grid-font">查看报告</span>
      </a>
    </div>
    <div class="col main-grid-col main-grid-column">
      <a class="main-grid-column" href="#/main/pay">
        <span class="main-grid-icon main-grid-icon positive-border">
          <i class="icon ion-ios-cart-outline positive"></i>
        </span>
        <span class="main-grid-space"></span>
        <span class="main-grid-font">缴费</span>
      </a>
    </div>
    <div class="col main-grid-col main-grid-column">
      <a class="main-grid-column" href="#/main/doctorIntroduction">
        <span class="main-grid-icon main-grid-icon positive-border">
          <i class="icon ion-ios-personadd-outline positive"></i>
        </span>
        <span class="main-grid-space"></span>
        <span class="main-grid-font">医生介绍</span>
      </a>
    </div>
  </div>
  <div class="row" style="height: 19%">
    <div class="col main-grid-col main-grid-column">
      <a class="main-grid-column" href="#/main/hospitalNavigation">
        <span class="main-grid-icon main-grid-icon balanced-border">
          <i class="icon ion-ios-location-outline balanced"></i>
        </span>
        <span class="main-grid-space"></span>
        <span class="main-grid-font">医院导航</span>
      </a>
    </div>
    <div class="col main-grid-col main-grid-column">
      <a class="main-grid-column" href="#/main/hospitalIntroduce">
        <span class="main-grid-icon main-grid-icon balanced-border">
          <i class="icon ion-ios-home-outline balanced"></i>
        </span>
        <span class="main-grid-space"></span>
        <span class="main-grid-font">医院简介</span>
      </a>
    </div>
    <div class="col main-grid-col main-grid-column">
      <a class="main-grid-column" href="#/main/medicalGuide">
        <span class="main-grid-icon main-grid-icon balanced-border">
          <i class="icon ion-ios-help-empty balanced"></i>
        </span>
        <span class="main-grid-space"></span>
        <span class="main-grid-font">就医指南</span>
      </a>
    </div>
  </div>
</ion-content>
