<ion-view>
  <isj-spinner is-show="$root.inProcess" callback="spinnerCancel()"></isj-spinner>
  <ion-header-bar class="bar-light">
    <div class="title" ng-click="selectMember()">
      <img ng-if="patient.memberCode == '00' && patient.sexCode == '1'" src="./assets/images/pic_man.png" class="photo">
      <img ng-if="patient.memberCode == '00' && patient.sexCode == '0'" src="./assets/images/pic_woman.png" class="photo">
      <img ng-if="patient.memberCode != '00'" ng-src="{{memberTypes[patient.memberCode].img}}" class="photo">
      {{patient.member}}-{{patient.name}}
      <i class="icon ion-ios-arrow-down positive operation-down"></i>
    </div>
  </ion-header-bar>

  <div class="district-select has-header">
    <div class="button-bar">
      <button ng-repeat="viewType in viewTypes" ng-class="{false: 'button-outline'}[viewTypeId == viewType.id]" class="button button-positive district-button"
              ng-click="registrationBtnClk(viewType.id)">
        {{viewType.name}}
      </button>
    </div>
  </div>

  <ion-content class="has-header has-header-district content-gray content-fill registration-content">
    <ion-refresher refreshing-icon="" on-refresh="doRefresh()"></ion-refresher>
    <div ng-if="registrations.length > 0" ng-repeat="registration in registrations" class="time-line" ng-click="registrationClk(registration.id)">
      <div class="time-line-left">
        {{registration.apptDate.substring(5,11)}}<br>{{registration.apptDate.substring(12)}}
        <div class="time-line-mark positive-bg"></div>
      </div>
      <div class="time-line-right">
        <div class="time-line-panel">
          <div class="title">
            单号：<span class="positive">{{registration.clinicNum}}</span>
          </div>
          <div class="content content-hospital">
            <span class="content-icon"><i class="icon ion-ios-home-outline"></i></span>
            <span class="content-name">{{registration.hospital}}</span>
          </div>
          <div class="content">
            <span class="content-icon"><i class="icon ion-ios-location-outline"></i></span>
            <span class="content-name">{{registration.dept}}（{{registration.district}}）</span>
          </div>
          <div class="content">
            <span class="content-icon"><i class="icon ion-ios-person-outline"></i></span>
            <span class="content-name">{{registration.doctor}}</span>
          </div>
          <div class="bottom">
            就诊时间：{{registration.apptDate}}
          </div>
          <div class="bottom" ng-if="registration.priceIsShow1">
            总费用：{{registration.amount}}元
          </div>
          <div class="bottom" ng-if="registration.priceIsShow2">
            {{registration.itemName[0].name}}：{{registration.itemName[0].price}}元
          </div>
        </div>
        <div class="time-line-bottom">
          <span>操作时间：{{registration.registerDate.substring(5,11)}}</span>
          <span class="pay-status">{{registration.status}}</span>
        </div>
      </div>
    </div>
    <div ng-if="registrations.length == 0" class="no-content-center">暂无挂号信息</div>
  </ion-content>
</ion-view>
