<ion-view>
  <isj-spinner is-show="$root.inProcess"></isj-spinner>
  <ion-header-bar class="bar-light registrationView-head">
    <isj-back-button></isj-back-button>
    <div class="title">挂号单</div>
    <!-- <a class="button button-clear icon ion-ios-telephone-outline positive"></a> -->
  </ion-header-bar>
  <ion-content class="has-header content-gray registrationView-content" ng-class="{'has-footer':((registration.statusCode == '0') || (registration.canBack == '1')),'has-footer-double':((registration.statusCode == '0') && (registration.canBack == '1'))}">
    <ion-refresher refreshing-icon="" on-refresh="doRefresh()"></ion-refresher>
    <ul class="list registration-card">
      <li class="item item-card-head">
        <h2 class="odd-number">单号：<span class="positive">{{registration.num}}</span></h2>
        <span class="positive status">{{registration.status}}</span>
      </li>
      <li class="item item-card-content">
        <table>
          <tr>
            <td class="label">
              <img ng-if="patient.memberCode == '00' && patient.sexCode == '1'" src="./assets/images/pic_man.png">
              <img ng-if="patient.memberCode == '00' && patient.sexCode == '0'" src="./assets/images/pic_woman.png">
              <img ng-if="patient.memberCode != '00'" ng-src="{{memberTypes[patient.memberCode].img}}">
            </td>
            <td>
              <span class="name">{{registration.patientName}}</span><br/>
              <span class="number">病历号：<span class="positive">{{registration.clinicNum}}</span></span>
            </td>
          </tr>
          <tr>
            <td class="label"><i class="icon ion-ios-location-outline"></i></td>
            <td>{{registration.dept}}（{{registration.district}}）</td>
          </tr>
          <tr>
            <td class="label"><i class="icon ion-ios-person-outline"></i></td>
            <td>{{registration.doctor}}</td>
          </tr>
        </table>
      </li>
    </ul>
    <ul class="list registration-other">
      <li class="item item-other-head">
        <h2>挂号</h2>
      </li>
      <li class="item item-other-content">
        <table>
          <tr>
            <td class="label">就诊时间</td>
            <td>{{visitTime}}</td>
          </tr>
          <tr>
            <td class="label">排队序号</td>
            <td>看诊前查看就诊序号</td>
          </tr>
          <tr>
            <td class="label">就诊地点</td>
            <td>看诊前查看就诊地点</td>
          </tr>
          <tr>
            <td class="label">挂号费</td>
            <td>{{registration.amount}}元</td>
          </tr>
        </table>
      </li>
      <li class="item item-icon-right" ng-click="illustrationClk()">
        <h2 class="positive">就诊、退号说明</h2>
        <i class="icon ion-ios-arrow-right icon-right"></i>
      </li>
    </ul>
    <ul ng-if="registration.orders != null" class="list registration-other">
      <li class="item item-other-head">
        <h2>支付状态</h2>
      </li>
      <li class="item item-other-content">
        <div class="pay-status-parent">
          <div class="pay-status-line">
            <div class="pay-status-content" ng-repeat="regisorder in registration.orders">
              <div class="pay-status-mark">
                <img ng-src="./assets/images/{{regisorder.img}}" ng-class="{'img-style' : regisorder.status=='0'}">
              </div>
              <div class="pay-status-content-head" ng-class="{ 'positive' : regisorder.status=='1'}">{{regisorder.name}}</div>
              <div class="pay-status-content-content" ng-bind-html="regisorder.detail"></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
  <ion-footer-bar ng-if="((registration.statusCode == '0') || (registration.canBack == '1'))" align-title="center" class="registrationView-footer operation" ng-class="{'registrationView-footer-height': ((registration.statusCode == '0') && (registration.canBack == '1'))}">
    <button ng-if="registration.statusCode == '0'" class="button button-positive has-two-button has-two-button-up" ng-click="registrationPay()">支付</button>
    <button ng-if="registration.canBack == '1'" class="button button-outline button-positive has-two-button has-two-button-down" ng-click="registrationBack()">退号</button>
  </ion-footer-bar>
</ion-view>
