md-dialog{
.operation-header{
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #eee;

  .operationDialogNew-shutdown{
    position: absolute;
    right: 0;
    top:6px;
  }
  .operationDialogNew-shutdown-answer{
    position: absolute;
    right: 45px;
    top:6px;
  }
  h4{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 200;
    margin-top: 0;
    margin-left: 23px;
  }
  span{
    position: absolute;
    top:11px;
    left: 8px;
    float: left;
    font-size: 13px;
  }
  .header-mark{
    position: absolute;
    top:10px;
    right: 8px;
    width: 48px;
    height: 17px;
    color: #fff;
    line-height: 17px;
    font-size: 12px;
  }
}
.my-opinion-form{
  .md-dialog-content{
    padding-top: 0;
    .content-opinion{
      margin-top: 20px;
      margin-bottom: 8px;
    }
    .content-opinion-name{
      font-size: 12px;
      margin-left: 10px;
      float: left;
    }
    .content-opinion-time{
      font-size: 12px;
      float: right;
      margin-right: 152px;
      color: #aaa;
    }
    .send {
      position:relative;
      width:250px;
      background:#fff;
      border: 1px solid #bbbbbb;
      border-radius:5px;
      padding: 12px;
      font-size: 13px;
      word-wrap:break-word;
      word-break:break-all;
    }

    .send .arrow {
      position:absolute;
      top: 21%;
      left: -10px;
      width:0;
      height:0;
      font-size:0;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-right: 9px solid #bbbbbb;
      border-bottom: 6px solid transparent;
    }
    .send .arrow-cover{
      position:absolute;
      top: 21%;
      left: -8px;
      width:0;
      height:0;
      font-size:0;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-right: 9px solid #fff;
      border-bottom: 6px solid transparent;
      z-index: 11;
    }
    .content-feedback-name{
      font-size: 12px;
      margin-left: 52px;
      float: left;
    }
    .content-feedback-time{
      font-size: 12px;
      float: left;
      margin-left: 135px;
      color: #aaa;
    }
    .replay {
      position:relative;
      width:250px;
      border-radius:5px;
      padding: 12px;
      font-size: 13px;
      margin-left: 26%;
      color: #fff;
      word-wrap:break-word;
      word-break:break-all;
    }

    .replay .arrow {
      position:absolute;
      top:30%;
      right:-16px;
      width:0;
      height:0;
      font-size:0;
      border:solid 8px;
    }
  }
  .operation-footer{
    height: 58px;
    min-height: 58px;
    border-top: 1px solid #dde;
    position: relative;

    .operation-footer-textarea {
      width: 75%;
      height: 34px;
      resize: none;
      padding: 5px 0;
      border: none;
      border-bottom: 1px solid #ccc;
      outline: none;
      max-height: 100px;
    }
    ::-webkit-scrollbar{
      width:0;
    }
    .operation-footer-btn{
      margin-bottom: 8px;
      margin-left: 8px;
      margin-right: 0;
      margin-top: 8px;
      position: absolute;
      bottom: 5px;
      right: 8px;
    }
  }
}


}