ul,li{
  list-style: none;
  padding: 0;
}
.operationview-flex{
  display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;
}
.operationview-flex-v{
  -webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;
}
.operationview{
  width: 100%;
  height: 100%;
  .flex-1{
    overflow:auto;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;
    position: relative;
    margin-top: 16px;
    padding-top: 54px;
    .operationview-content{
      position: fixed;
      top:50px;
      z-index: 999;
      .operationview-content-card{
        margin: 0;
        margin-top: 16px;
      }
    }
    .feedback-card:focus{
      border:0;
      outline:none;
    }
    .title{
      span{
        display: inline-block;
        float: right;
      }
    }
    .content{
      p{
        margin:5px 0;
        text-indent: 2em;
      }
      .content-time{
        text-align: right;
        margin-top: 15px;
        margin-bottom: 5px;
      }
    }
  }
}
/* Space out content a bit */
.waterfall-list {
  margin: 0;
  padding: 0;
  position: relative;
}
.waterfall-list li {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline:none;
  md-card{
    outline:none;
  }
}
.waterfall-list li:after {
  clear: both;
}
.waterfall-list li .data-block {
  border-radius: 5px;
}
.waterfall-list li p {
  font-size: 12px;
  color: rgba(61, 61, 61, 0.93);
}
.clear {
  clear: both;
}
.operationview-content{
  flex-grow: 0;
  margin-left: 8px;
  .operationview-bar{
    background-color: #ffffff;
    font-size: 13px;
    padding: 0 32px 20px 32px;
    padding: 0 24px;
    -webkit-box-shadow:0 0 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 0 2px rgba(0, 0, 0, .5);
    box-shadow:0 0 2px rgba(0, 0, 0, .5);
    .operationview-bar-title{
      font-size: 14px;
      md-icon{
        cursor: pointer;
      }
    }
    .md-block{
      margin: 0;
      label{
        color: rgba(0,0,0,1);
      }
      select{
        display: inline;
        margin-left: 80px;
      }
      span{
        color: rgba(0,0,0,1);
      }
    }
    button{
      width: 10%;
      border: none;
      margin-bottom: 15px;
      height: 35px;
      line-height: 35px;
      border-radius: 5px;
      transition: .5s;
      font-size: 14px;
    }
    .btn-margin-left{
      background-color: rgba(158,158,158,0.2);
      margin-left: 39%;
    }
  }
  .title span{
    display: inline-block;
    float: right;
  }
  .content{
    p{
      margin-top: 0;
    }
  }
}
.operationview-title{
  padding: 0 6px;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .search-bar {
      border-bottom: 1px solid #e0e0e0;
      width: 100%;
      min-height: 43px;
      display: flex;
      flex-direction: row;
      padding: 1px 6px;

      .level {
        padding: 2px 5px 0 5px;

        md-select {
          width: 100%;
          margin: 0;
          padding: 2px;
        }
      }

      .search {
        flex-grow: 1;
        padding: 2px 5px 0 5px;

        md-input-container {
          width: 100%;
          margin: 0;

          .md-errors-spacer {
            min-height: 0;
          }
        }
      }

      .more {
        padding: 0 0 0 5px;

        .md-button.md-icon-button {
          margin: 0;
        }
      }
    }
}

.operationview-piece-title{
  font-size: 13px;
  margin: 10px 0;
  padding-left: 23px;
}

/*= common css to all effects =*/
.single-member{
  float: left;
  background-color: #fff;
  text-align: center;
  p{
    margin-left: 10px;
    text-align: left;
  }
}
h3 {font-size: 14px; font-weight: normal; margin: 10px 0 0; text-transform: uppercase;}
.member-info{
  background-color: #fff;
  padding-bottom: 15px;
  .ul-li-h3-div-left{
    float: left;
    font-weight: bold;
  }
  .ul-li-h3-div-right{
    float: right;
    font-size: 12px;
  }
  p{
    word-wrap:break-word;
    word-break:break-all;
  }
}
/*= common css to all effects end =*/

/*= effect-1 css =*/
.effect-1{border-radius: 5px 5px 0 0; padding:0 5px;background-color: #ecf0f5;}
.effect-1 .social-touch{height: 5px; padding: 5px 0 0; width: 100%; transition: 0.3s; color: rgba(255,255,255,0); height: 30px;}
.effect-1 .member-info h3{margin-top: 0px;height: 30px;color:#fff;line-height: 30px;border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 0 25px;}
/*= effect-1 css end =*/

.operationview-piece-red{
  background-color: #e13157;
  border-color: #e13157;
  transition: .3s;
}
.effect-1:hover .operationview-piece-red{
  background-color: #c9302c;
  border-color: #c9302c;
}
.operationview-piece-blue{
  background-color: #428bca;
  border-color: #428bca;
  transition: .3s;
}
.effect-1:hover .operationview-piece-blue{
  background-color: #3071a9;
  border-color: #3071a9;
}
.operationview-piece-green{
  background-color: #5cb85c;
  border-color: #5cb85c;
  transition: .3s;
}
.effect-1:hover .operationview-piece-green{
  background-color: #449d44;
  border-color: #449d44;
}