<md-dialog ng-cloak style="width:500px;">
    <div class="operation-header">
        <span ng-model="opinion.userTel">电话:{{opinion.userTel}}</span>
        <h4 class="md-title" ng-model="opinion.userName">{{opinion.userName}}</h4>
        <div class="header-mark" ng-class="{'operationDialogNew-piece-red':opinion.statusCode=='0','operationDialogNew-piece-green':opinion.statusCode=='1','operationDialogNew-piece-blue':opinion.statusCode=='2'}">{{opinion.status}}</div>
    </div>
    <form name="opinionForm">
        <md-dialog-content class="md-dialog-content">
            <div ng-repeat="ophis in opinionHistory" pea-repeat-finish="scrollToEnd()" id="newOpDialog">
                <div class="send"><div class="arrow"></div><div class="arrow-cover"></div>{{ophis.opinion}}</div>
                <div class="content-opinion-time">{{ophis.opinionTime}}</div>

                <div ng-if="ophis.feedback !== undefined" class="replay" ng-class="{'operationDialogNew-content-red':opinion.statusCode=='0','operationDialogNew-content-green':opinion.statusCode=='1','operationDialogNew-content-blue':opinion.statusCode=='2'}"><div class="arrow" ng-class="{'operationDialogNew-arrow-red':opinion.statusCode=='0','operationDialogNew-arrow-green':opinion.statusCode=='1','operationDialogNew-arrow-blue':opinion.statusCode=='2'}"></div>{{ophis.feedback}}</div>
                <div ng-if="ophis.feedback !== undefined" class="content-feedback-time">{{ophis.feedbackTime}}</div>
            </div>
        </md-dialog-content>
        <md-dialog-actions class="operation-footer">
            <div style="width: 100%;height: 80px;">
                <div style="width: 50%;height: 100%;float: left;">
                    <textarea name="feedback" ng-model="feedbackText" required></textarea>
                </div>
                <div style="width: 50%;height: 100%;float: right;">
                    <md-select ng-model="selectedfeedbackType.code" class="operation-footer-select">
                        <md-option ng-repeat="feedbackType in thefeedbackTypes" value="{{feedbackType.code}}" ng-selected="selectedfeedbackType.code==feedbackType.code">
                        {{feedbackType.name}}
                        </md-option>
                    </md-select>
                    <md-button class="operation-footer-btn" ng-disabled="isSubmit" ng-click="cancel()">
                    关闭
                    </md-button>
                    <md-button class="operation-footer-btn" type="submit" class="md-primary" ng-disabled="isSubmit" ng-click="submit()">
                    提交
                    </md-button>
                </div>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
