<div layout="column" class="operationview-content">
    <md-content style="overflow-x:hidden;">
        <div layout="column" style="background-color: #fff;">
            <div class="operationview-title">
                <h3>意见反馈信息</h3>
                <md-button class="md-icon-button operationview-icon" type="button" ng-click="gotoList()" aria-label="切换">
                    <md-icon class="icon">view_list</md-icon>
                </md-button>
            </div>
        </div>
        <div layout="column" class="operationview-bar">
            <md-dialog-content class="md-dialog-content">
                <h2 class="operationview-bar-title">查询条件</h2>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>姓名</label>
                        <input name="userName" ng-model="filterName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>电话</label>
                        <input name="userTel" ng-model="filterTel">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>反馈状态</label>
                        <md-select ng-model="selectedopStatus.code">
                            <md-option ng-repeat="feedbackType in opStatus" value="{{feedbackType.code}}">
                                {{feedbackType.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>用户意见</label>
                        <textarea name="opinion" ng-model="filterUserOp"></textarea>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>反馈意见</label>
                        <textarea name="feedback" ng-model="filterFeedOp"></textarea>
                    </md-input-container>
                </div>
                <button ng-click="operationViewSearch()">查询</button>
            </md-dialog-content>
        </div>
        <div class="operationview-piece-title">意见反馈信息列表(双击可回复)</div>
        <ul class="waterfall-list" ng-waterfall cols="3">
            <li ng-repeat="feedBackData in feedBackDatasAll" ng-dblclick="gotoDialog(feedBackData.userId)" repeat-finished class="single-member effect-1">
            <md-card>
                <div class="member-info data-block" >
                    <h3 ng-class="{'operationview-piece-red':feedBackData.statusCode=='0','operationview-piece-green':feedBackData.statusCode=='1','operationview-piece-blue':feedBackData.statusCode=='2'}">
                        <div class="ul-li-h3-div-left">{{feedBackData.userName}}</div>
                        <div class="ul-li-h3-div-right"><b>电话: </b>{{feedBackData.userTel}}</div>
                    </h3>
                    <p><b>意见提出时间: </b>{{feedBackData.opinionTime}}</p>
                    <p><b>用户意见: </b>{{feedBackData.opinion}}</p>
                </div>
            </md-card>
            </li>
            <div class="loadMore" ng-if="loadMore" ng-infinite-scroll ng-click="loadMoreData()">{{text}}</div>
        </ul>
    </md-content>
</div>

