<div class="operationview operationview-flex operationview-flex-v">
    <div class="content-padding playground-waterfall flex-1">
        <pea-waterfall mini-width="300">
            <pea-waterfall-repeat class="feedback-card" ng-repeat="feedBackData in feedBackDatasAll" ng-dblclick="gotoDialog(feedBackData.userId,feedBackData._id.$oid)">
                <md-card class="pea-card feedback-card" ng-class="{'0': 'pea-accent'}[feedBackData.statusCode]">
                    <div class="title">
                        {{feedBackData.userName}}
                        <span>{{feedBackData.userTel}}</span>
                    </div>
                    <div class="content">
                        <p>{{feedBackData.opinion}}</p>
                        <p class="content-time">{{feedBackData.opinionTime}}</p>
                    </div>
                </md-card>
            </pea-waterfall-repeat>
            <div class="operationview-content">
                <md-card class="operationview-content-card pea-card pea-grid">
                    <div class="operationview-title">
                        <div class="search-bar">
                            <div class="level">
                                <md-select ng-model="selectedopStatusCode">
                                    <md-option ng-repeat="item in opStatus" value="{{item.code}}">
                                        {{item.name}}
                                    </md-option>
                                </md-select>
                            </div>
                            <div class="search">
                                <md-input-container md-no-float>
                                    <input ng-model="search" type="text" ng-keyup="searchKeyup($event)" placeholder="请输入查询内容" >
                                </md-input-container>
                            </div>
                            <div class="more">
                                <md-button class="md-icon-button operationview-icon operationview-icon-1" type="button" ng-click="gotoList()" aria-label="切换">
                                    <md-tooltip md-direction="bottom">切换</md-tooltip>
                                    <md-icon class="icon">view_list</md-icon>
                                </md-button>
                                <md-button class="md-icon-button operationview-icon operationview-icon-3" type="button" ng-click="gotoRefresh()" aria-label="刷新">
                                    <md-tooltip md-direction="bottom">刷新</md-tooltip>
                                    <md-icon class="icon">refresh_black</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </md-card>
            </div>
            <pea-waterfall-infinite has-more="waterfall.hasMore" load-more="waterfall.loadMore()"></pea-waterfall-infinite>
        </pea-waterfall>
    </div>
</div>


