ul,li{
  list-style: none;
  padding: 0;
}
/* Space out content a bit */
.waterfall-list {
  margin: 0;
  padding: 0;
  position: relative;
}
.waterfall-list li {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline:none;
  md-card{
    outline:none;
  }
}
.waterfall-list li:after {
  clear: both;
}
.waterfall-list li .data-block {
  border-radius: 5px;
}
.waterfall-list li p {
  font-size: 12px;
  color: rgba(61, 61, 61, 0.93);
}
.clear {
  clear: both;
}
.loadMore {
  cursor: pointer;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #3c8dbc;
  color:#fff;
}
.loadMore:hover{
  background-color:#3071a9;
  transition: 0.3s;
}
.loadMore:focus{
  border: none;
}
.md-content{
  background-color: #ecf0f5;
  height: 100%;
}
.operationview-content{
  margin: 8px;
  border-top: 3px solid #3c8dbc;
  border-radius: 3px;

  md-content{
    background-color: #ecf0f5;
  }
  .operationview-bar{
    background-color: #ffffff;
    font-size: 13px;
    padding: 0 32px 20px 32px;
    padding: 0 24px;
    -webkit-box-shadow:0 0 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 0 2px rgba(0, 0, 0, .5);
    box-shadow:0 0 2px rgba(0, 0, 0, .5);
    .operationview-bar-title{
      font-size: 14px;
      md-icon{
        cursor: pointer;
      }
    }
    .md-block{
      margin: 0;
      label{
        color: rgba(0,0,0,1);
      }
      select{
        display: inline;
        margin-left: 80px;
      }
      span{
        color: rgba(0,0,0,1);
      }
    }
    button{
      width: 10%;
      border: none;
      margin-bottom: 15px;
      height: 35px;
      line-height: 35px;
      border-radius: 5px;
      transition: .5s;
      font-size: 14px;
    }
    .btn-margin-left{
      background-color: rgba(158,158,158,0.2);
      margin-left: 39%;
    }
  }
}
.operationview-title{
  padding: 0 24px;
  line-height: 48px;
  h3{
    font-size: 19px;
    font-weight: normal;
    margin: 0;
    position: relative;
  }
  .operationview-icon{
    position: absolute;
    right: 24px;
    top:2px;
    cursor: pointer;
  }
}

.operationview-piece-title{
  font-size: 13px;
  margin: 10px 0;
  padding-left: 23px;
}

/*= common css to all effects =*/
.single-member{
  float: left;
  background-color: #fff;
  text-align: center;
  p{
    margin-left: 10px;
    text-align: left;
  }
}
h3 {font-size: 14px; font-weight: normal; margin: 10px 0 0; text-transform: uppercase;}
.member-info{
  background-color: #fff;
  padding-bottom: 15px;
  .ul-li-h3-div-left{
    float: left;
    font-weight: bold;
  }
  .ul-li-h3-div-right{
    float: right;
    font-size: 12px;
  }
  p{
    word-wrap:break-word;
    word-break:break-all;
  }
}
/*= common css to all effects end =*/

/*= effect-1 css =*/
.effect-1{border-radius: 5px 5px 0 0; padding:0 5px;background-color: #ecf0f5;}
.effect-1 .social-touch{height: 5px; padding: 5px 0 0; width: 100%; transition: 0.3s; color: rgba(255,255,255,0); height: 30px;}
.effect-1 .member-info h3{margin-top: 0px;height: 30px;color:#fff;line-height: 30px;border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 0 25px;}
/*= effect-1 css end =*/

.operationview-piece-red{
  background-color: #e13157;
  border-color: #e13157;
  transition: .3s;
}
.effect-1:hover .operationview-piece-red{
  background-color: #c9302c;
  border-color: #c9302c;
}
.operationview-piece-blue{
  background-color: #428bca;
  border-color: #428bca;
  transition: .3s;
}
.effect-1:hover .operationview-piece-blue{
  background-color: #3071a9;
  border-color: #3071a9;
}
.operationview-piece-green{
  background-color: #5cb85c;
  border-color: #5cb85c;
  transition: .3s;
}
.effect-1:hover .operationview-piece-green{
  background-color: #449d44;
  border-color: #449d44;
}
@media (max-width: 1200px){
  .operationview-piece{
    width: 45%;
  }
}
@media (max-width: 900px){
  .operationview-piece{
    width: 94%;
  }
}