<ion-header-bar class="bar-light">
  <a class="icon-return positive" href="javascript:history.go(-1)">
    <i class="icon ion-ios-arrow-left"></i>
    <div>返回</div>
  </a>
  <div class="title">关于掌上盛京</div>
</ion-header-bar>
<ion-content class="has-header appAbout-content">
  <div class="logo">
    <img src="./assets/images/logo.png">
  </div>
  <div class="version">
    V2.2.4
  </div>
  <ul class="list">
    <li class="item item-icon-right" ng-click="itemRouter('settingFeedback')">
      意见反馈
      <i class="icon ion-ios-arrow-right icon-right"></i>
    </li>
    <li class="item item-icon-right" ng-click="itemRouter('settingVersionDescription')">
      版本说明
      <i class="icon ion-ios-arrow-right icon-right"></i>
    </li>
  </ul>
  <div class="service-phone">
    客服电话：<span class="positive">{{servicePhone}}</span>
  </div>
</ion-content>
