.changePassword-content {
  .prompt {
    padding: 15px;
    font-size: 18px;
    color: #666666;
  }

  .list {
    margin-bottom: 0;

    &.interval {
      margin-top: 15px;
    }

    .item .input-label {
      font-size: 17px;
      color: #666666;
    }
  }

  .operation {
    padding: 25px 15px 0 15px;

    .button {
      width: 100%;
    }
  }
}
