<ion-header-bar class="bar-light">
  <a class="icon-return positive" ng-click="back()">
    <i class="icon ion-ios-arrow-left"></i>
    <div>返回</div>
  </a>
  <div class="title">修改密码</div>
</ion-header-bar>
<ion-content class="has-header content-gray changePassword-content">
  <form>
    <div class="prompt">
      密码需要填写6-20个字符，可由英文字母、数字、下划线组成
    </div>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">当前密码</span>
        <input type="password" placeholder="6-20个字符" ng-model="input.nowPwd" maxlength="20">
      </label>
    </div>
    <div class="list interval">
      <label class="item item-input">
        <span class="input-label">新密码</span>
        <input type="password" placeholder="6-20个字符" ng-model="input.newPwd" maxlength="20">
      </label>
      <label class="item item-input">
        <span class="input-label">确认新密码</span>
        <input type="password" placeholder="6-20个字符" ng-model="input.renewPwd" maxlength="20">
      </label>
    </div>
    <div class="operation">
      <button class="button button-positive" ng-click="change()" ng-disabled="!(input.nowPwd.length >= 6 &&
      input.newPwd.length>=6 && input.renewPwd.length == input.newPwd.length)">确认修改</button>
    </div>
  </form>
</ion-content>
