.feedbackList-subheader {
  justify-content: center;

  .feedbackStatus-select {
    padding: 0;

    select {
      background: transparent;
      position: inherit;
      font-size: 17px;
      padding: 0 6px 0 0;
      margin-left: auto;
      direction: inherit;
      width: 75px;
    }

    &:after {
      border-top: 0;
    }

    i {
      font-size: 20px;
      margin-right: auto;
    }
  }
}

.feedbackList-content {
  ul {
    li {
      &:first-child {
        border: 0;
      }

      .opinion-time {
        font-size: 14px;
        padding: 0 0 5px 0;
        color: #999999;
      }

      .opinion-status {
        float: right;
      }

      .opinion {
        padding: 0 0 5px 0;
        font-size: 17px;
      }

      .feedback {
        font-size: 15px;
        display: flex;
        align-items: center;
        padding: 5px 0 0 0;
        color: #999999;
        i {
          font-size: 20px;
        }
        span {
          line-height: 20px;
          margin-left: 6px;
        }
      }
    }
  }
}
