<ion-view>
  <isj-spinner is-show="$root.inProcess"></isj-spinner>
  <ion-header-bar class="bar-light">
    <isj-back-button></isj-back-button>
    <div class="title">用户意见</div>
  </ion-header-bar>
  <ion-content class="has-header content-gray feedback-content">
    <div class="inputs">
      <div>
        <textarea placeholder="对掌上盛京有什么意见，请告诉我们" ng-model="input.opinion"></textarea>
      </div>
    </div>
    <div class="operation">
      <button class="button button-positive" ng-click="opinionSubmit()" ng-disabled="isSubmit">提交</button>
    </div>
  </ion-content>
</ion-view>
