.feedbackListNew{
  .feedbackListNew-footer{
    .feedback-new-textarea{
      width: 80%;
      font-size: 14px;
      line-height: 18px;
      padding: 10px 0;
      resize: none;
      border-bottom: 1px solid #387ef5;
      margin-right: 3%;
      padding-left: 2%;
      overflow: scroll;
      max-height: 100px;
    }
    .feedback-new-submit{
      width: 15%;
      position: absolute;
      right: 15px;
      bottom: 8px;
    }
  }
  .feedbackListNew-content{
    .feedbackListNew-content-div{
      .feedbackListNew-content-space{
        padding-top:15px;
      }
      .send {
        width:55%;
        border: 1px solid #387ef5;
        background-color: #387ef5;
        border-radius:5px;
        padding: 10px;
        font-size: 13px;
        margin-left: 40%;
        color: #fff;
        word-wrap:break-word;
        word-break:break-all;
      }
      .content-opinion-time{
        font-size: 12px;
        margin-left: 41%;
        color: #aaa;
      }
      .replay{
        width:55%;
        border:1px solid #bbbbbb;
        border-radius:5px;
        padding: 10px;
        font-size: 13px;
        margin-left: 5%;
        color: #444;
        background-color: #fff;
        word-wrap:break-word;
        word-break:break-all;
      }
      .content-feedback-time{
        font-size: 12px;
        margin-left: 6%;
        color: #aaa;
      }
    }
  }
}
