.settingIndex-content {
  padding: 15px;

  .list-inset {
    margin: 0;

    .item {
      font-size: 15px;

      i.icon-left {
        color: #999999;
        font-size: 22px;
      }
    }
  }

  .operation {
    padding: 25px 0 0 0;

    .button {
      width: 100%;
    }
  }
}
