<ion-view>
  <ion-header-bar class="bar-light">
    <isj-back-button></isj-back-button>
    <div class="title">设置</div>
  </ion-header-bar>
  <ion-content class="has-header content-gray settingIndex-content">
    <ul class="list list-inset">
      <li ng-if="isLogin" class="item item-icon-left item-icon-right" ng-click="itemRouter('settingChangePassword')">
        <i class="icon ion-ios-unlocked-outline icon-left"></i>
        修改登录密码
        <i class="icon ion-ios-arrow-right icon-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right" ng-click="itemRouter('settingAppAbout')">
        <i class="icon ion-ios-information-outline icon-left"></i>
        关于
        <i class="icon ion-ios-arrow-right icon-right"></i>
      </li>
    </ul>
    <div ng-if="isLogin" class="operation">
      <button class="button button-assertive" ng-click="quit()">退出登录</button>
    </div>
  </ion-content>
</ion-view>
