<ion-header-bar class="bar-light">
  <a class="icon-return positive" href="javascript:history.go(-1)">
    <i class="icon ion-ios-arrow-left"></i>
    <div>返回</div>
  </a>
  <div class="title">{{title}}</div>
</ion-header-bar>
<ion-header-bar class="bar-subheader bar-light doctorIntroductionList-subheader">
  <div ng-if="searchName == null || searchName == ''" ng-click="placeholderClk()" class="search-placeholder">
    <i class="icon ion-ios-search-strong positive"></i>
    <span>搜索医生</span>
  </div>
  <form ng-submit="doSearch()">
    <label class="item-input-wrapper">
      <input type="search" id="doctorIntroduction_search" ng-model="searchName">
    </label>
  </form>
</ion-header-bar>
<ion-content class="has-header has-subheader doctorIntroductionList-content">
  <ul class="list">
    <li class="item item-avatar-left" collection-repeat="introduction in introductions" ng-click="viewIntroduction(introduction.id)">
      <img ng-if="introduction.sexCode == '1'" src="./assets/images/doctor_man.png" class="photo">
      <img ng-if="introduction.sexCode == '2'" src="./assets/images/doctor_woman.png" class="photo">
      <div class="authenticate">
        <img src="./assets/images/isapprove.png">
      </div>
      <div>
        <h2 class="name">{{introduction.name}}</h2>
        <p class="professional">{{introduction.title}}</p>
      </div>
      <p>{{introduction.hospital}}</p>
      <p class="dept">{{introduction.dept}}</p>
    </li>
  </ul>
</ion-content>
