<ion-view>
  <isj-spinner is-show="$root.inProcess" is-refresh="$root.refreshProcess"></isj-spinner>
  <ion-header-bar class="bar-light doctorIntroductionView-title">
    <isj-back-button></isj-back-button>
    <div class="title">
      医生主页
    </div>
    <a ng-class="{false:'ion-ios-star-outline',true:'ion-ios-star'}[isCollection]" class="button button-clear icon positive" ng-click="collectionDoctor()"></a>
  </ion-header-bar>
  <ion-content ng-class="{false: 'no-footer'}[type]" class="has-header has-footer doctorIntroductionView-content">
    <ul class="list">
      <li class="item item-avatar-left">
        <img ng-if="(introduction.photo == null || introduction.photo == '') && introduction.sexCode == '1'" src="./assets/images/doctor_man.png" class="photo">
        <img ng-if="(introduction.photo == null || introduction.photo == '') && introduction.sexCode == '0'" src="./assets/images/doctor_woman.png" class="photo"">
        <img ng-if="introduction.photo != null && introduction.photo != ''" ng-src="{{introduction.photo}}" class="photo">
        <div>
          <h2 class="name">{{introduction.name}}</h2>
          <p class="professional">{{introduction.title}}</p>
        </div>
        <p>{{introduction.hospital}}</p>
        <p class="dept">{{introduction.dept}}（{{introduction.district}}）</p>
      </li>
      <li class="item introduction-content item-splitLine">
        <h2>
          <i class="icon ion-ios-medkit-outline positive"></i>
          擅长
        </h2>
        <p>{{introduction.skill}}</p>
      </li>
      <li class="item introduction-content">
        <h2>
          <i class="icon ion-ios-chatboxes-outline positive"></i>
          简介
        </h2>
        <p>{{introduction.summary}}</p>
      </li>
    </ul>
  </ion-content>
  <ion-footer-bar ng-class="{false: 'no-operation'}[type]" class="doctorIntroductionView-footer">
    <button class="button positive-bg doctorIntroduction-register" ng-click="register()">挂号</button>
  </ion-footer-bar>
</ion-view>
