<ion-view>
  <isj-spinner is-show="$root.inProcess" is-refresh="$root.refreshProcess"></isj-spinner>
  <ion-header-bar class="bar-light">
    <isj-back-button></isj-back-button>
    <div class="title">{{title}}</div>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader bar-light doctorIntroductionList-subheader">
    <div ng-if="searchName == null || searchName == ''" ng-click="placeholderClk()" class="search-placeholder">
      <i class="icon ion-ios-search-strong positive"></i>
      <span>搜索医生</span>
    </div>
    <form ng-submit="doSearch()">
      <label class="item-input-wrapper">
        <input type="search" id="doctorIntroduction_search" ng-model="searchName">
      </label>
    </form>
  </ion-header-bar>
  <ion-content class="has-header has-subheader doctorIntroductionList-content">
    <ul class="list">
      <li class="item item-avatar-left" collection-repeat="introduction in introductions" ng-click="viewIntroduction(introduction.id)">
        <img ng-if="(introduction.photo == null || introduction.photo == '') && introduction.sexCode == '1'" src="./assets/images/doctor_man.png" class="photo">
        <img ng-if="(introduction.photo == null || introduction.photo == '') && introduction.sexCode == '0'" src="./assets/images/doctor_woman.png" class="photo"">
        <img ng-if="introduction.photo != null && introduction.photo != ''" ng-src="{{introduction.photo}}" class="photo">
        <div class="authenticate">
          <img src="./assets/images/isapprove.png">
        </div>
        <div>
          <h2 class="name">{{introduction.name}}</h2>
          <p class="professional">{{introduction.title}}</p>
        </div>
        <p>出诊地点：{{introduction.dept}}（{{introduction.district}}）</p>
        <p class="dept">擅长：{{introduction.skill===''?'暂无':introduction.skill}}</p>
      </li>
    </ul>
    <ion-infinite-scroll ng-if="vm.moreData" on-infinite="vm.loadMore()" distance="2%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
