.doctorIntroductionView-title {
  a.button.button-clear.icon:before {
    font-size: 26px;
  }

  a.button {
    margin-top: -2px;
    margin-right: 2px;
  }
}

.doctorIntroductionView-content {
  &.no-footer {
    bottom: 0 !important;
  }

  .list {
    li:first-child {
      border-top: 0;
    }

    .item.item-avatar-left {
      padding-left: 92px;
    }

    .photo {
      position: absolute;
      top: 28px;
      left: 16px;
      width: 60px;
      height: 60px;
      max-width: 60px;
      max-height: 60px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
      }
    }

    .name {
      display: inline-block;
      margin-top: 6px;
    }

    .professional {
      display: inline-block;
      margin: 0 0 2px 10px !important;
    }

    .dept {
      margin-top: 8px;
    }

    .introduction-content {
      p {
        text-overflow: clip;
        white-space: normal;
        margin-top: 8px;
      }
    }

    h2 {
      font-size: 18px;

      i {
        margin-right: 5px;
      }
    }

    p {
      margin-top: 4px;
      font-size: 16px;
    }
  }
}

.doctorIntroductionView-footer {
  &.no-operation {
    display: none;
  }

  .button {
    color: #ffffff;
    width: 100%;

    &:hover {
      color: #ffffff !important;
    }
  }
}
