<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/logFile.%d{yyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%5p [%d{yy-MM-dd-HH:mm:ss}] %40.40c:%4L - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="mongo" class="com.proper.enterprise.platform.core.mongo.logback.MongoDBAppender">
        <connectionSource class="com.proper.enterprise.platform.core.mongo.logback.MongoDBConnectionSource">
            <host>172.28.235.115</host>
            <port>27017</port>
            <database>isj</database>
            <username>isj</username>
            <password>isj</password>
            <collection>LOGS</collection>
        </connectionSource>
    </appender>

    <logger name="com.proper" level="debug">
        <appender-ref ref="file" />
        <appender-ref ref="mongo" />
    </logger>

    <logger name="ROOT" level="debug">
        <appender-ref ref="file" />
    </logger>

</configuration>
