.doctorIntroduction-subheader {
  position: relative;

  form {
    width: 100%;
  }

  .search-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -33px;

    span {
      color: #999999;
    }
  }

  .item-input-wrapper {
    background: #ffffff;

    input {
      width: 100%;
      margin-top: -2px;
    }
  }
}

.doctorIntroduction-list {
  li:first-child {
    border-top: 0;
  }

  .item.item-avatar-left {
    padding-left: 92px;
  }

  .list-photo {
    width: 60px !important;
    height: 60px !important;
    max-width: 60px !important;
    max-height: 60px !important;
  }

  .list-authenticate {
    position: absolute;
    top: 80px;
    left: 19px;

    img {
      height: 18px;
    }
  }

  .list-name {
    display: inline-block;
    margin-top: 6px;
  }

  .list-professional {
    display: inline-block;
    margin-left: 8px;
  }

  .list-dept {
    margin-top: 4px;
  }
}
