.medicalReportView1-content {
  .report-content {
    width: 100%;
    padding: 17px 17px 0 17px;

    .report-table {
      font-size: 18px;
      width: 100%;

      td {
        padding: 7px 0;
      }

      .form-label {
        width: 90px;
        color: #999999;
      }

      .report-item-table {
        width: 100%;

        th {
          background-color: #f0f0f0;
          padding: 4px 0;
        }

        tr th:not(:last-child) div {
          padding: 3px 0;
          border-right: 1px solid #777777;
        }

        td {
          border-bottom: 1px solid #dddddd;
          padding: 12px 0;
        }
      }
    }
  }

  .report-prompt {
    background-color: #f0f0f0;
    font-size: 19px;
    color: #999999;
    text-align: center;
    padding: 8px 0;
    margin-top: 25px;
  }
}

.medicalReportView2-content {
  img {
    width: 100%;
  }
}
