.subjectSelect-title {
  a.button.button-clear.icon:before {
    font-size: 26px;
  }

  a.button {
    margin-top: -1px;
    margin-right: 2px;
  }
}

.subjectSelect-content {
  border-top: 1px solid #f0f0f0;

  .subject-select {
    display: flex;
    flex-direction: row;
    height: 100%;

    .subject-scroll {
      height: 100%;

      .subject-div {
        font-size: 15px;
        color: #666666;
        padding: 12px 0 12px 20px;

        .icon-subject-select {
          display: none;
          margin-right: 3px;
        }

        .icon-subject-selected {
          display: inline-block !important;
        }

        .left-activated-icon {
          display: none;
        }
      }

      .left-activated {
        background-color: #ffffff;

        .left-activated-icon {
          display: inline-block !important;
        }
      }

      &.subject-scroll-left {
        width: 50%;
        background: #f0f0f0;
      }

      &.subject-scroll-right {
        width: 50%;
      }
    }
  }
}
