/* head height */
$mainHeaderHeightC: 50px;
$mainHeaderHeightP: 100px;

/* sidebar width */
$mainSidebarWidth: 230px;
$miniSidebarWidth: 50px;
$rightSidebarWidth: 260px;


/* global css */
* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.main-wrapper {
  background-color: #ffffff;
  min-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/* progress-linear css */
.main-progress-linear {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;

  .md-container {
    height: 3px !important;
    background-color: transparent !important;

    .md-dashed {
      height: 3px !important;
    }

    .md-bar {
      height: 3px !important;
    }
  }
}

/* head css */
.main-header {
  min-height: $mainHeaderHeightC;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 71;
}

.main-header .logo {
  color: #ffffff;
  display: block;
  float: left;
  height: $mainHeaderHeightC;
  font-size: 20px;
  line-height: $mainHeaderHeightC;
  text-align: center;
  width: $mainSidebarWidth;
  transition: width 0.3s ease-in-out;

  img {
    width: 26px;
    height: 26px;
    vertical-align: text-bottom;
  }
}

.main-header .navbar {
  margin-left: $mainSidebarWidth;
  min-height: $mainHeaderHeightC;
  transition: margin-left 0.3s ease-in-out;

  .md-icon-button {
    height: $mainHeaderHeightC;
    width: auto;
    border-radius: 0;
    margin: 0;
    padding: 0 11px 0 11px;
    vertical-align: middle;

    .navbar-icon {
      color : #ffffff;
      font-size: 24px;
    }
  }

  .navbar-custom-menu {
    float: right;

    ul {
      margin-top: 0;
    }

    li {
      float: left;
      display: block;
    }

    .user-image {
      float: left;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 12px;
    }

    .user-name {
      font-size: 15px;
      color: #ffffff;
      line-height: 50px;
    }
  }
}

.user-menu-content {
  padding: 4px 0;

  .md-button {
    md-icon {
      margin: auto 10px auto 0;
    }
  }
  md-menu-item {
    height: 45px;
    min-height: 45px;
    width: 150px;
  }
  md-menu-divider {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.main-header .up-label{
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
  background-color: #dd4b39;
  color: #ffffff;
  border-radius: 20%;
  width: 18px;
  height: 14px;
}


/* sidebar css */
.md-sidenav-right {
  min-width: $rightSidebarWidth;
  max-width: $rightSidebarWidth;
  margin-top: $mainHeaderHeightC;
}

.main-sidebar {
  width: $mainSidebarWidth;
  height: 100%;
  position: fixed;
  left: 0;
  border-width: 0 1px 0 0;
  border-right-style: solid;
  z-index: 6;
  padding-top: $mainHeaderHeightC;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

  .sidebar-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }
}

.main-sidebar .sidebar-form {
  border-radius: 3px;
  margin: 8px 10px 8px 10px;

  .sidebar-search-group {
    position: relative;
    display: table;

    .sidebar-search {
      position: relative;
      display: table;
    }

    .sidebar-text {
      border-radius: 2px 0 0 2px;
      border: 1px solid transparent;
      height: 32px;
      display: table-cell;
      position: relative;
      float: left;
      width: 100%;
      padding: 5px 12px;
      font-size: 14px;
      font-family: inherit;

      &:focus {
        outline: none;
      }
    }

    .sidebar-text-btn {
      position: relative;
      vertical-align: middle;
      display: table-cell;
      width: 33px;
      text-align: center;
      background-color: #ffffff;
    }
  }

  .sidebar-search-mini {
    display: none;
    width: 100%;
    height: 44px;
    padding: 10px 0 10px 0;
  }
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    position: relative;
    margin: 0;
    padding: 0;

    > .btn-menu {
      border-left: 3px solid transparent;
      font-weight: 600;
      height: 44px;
      text-align: left;
      margin: -1px 0 0 0;
      border-radius: 0;
      width: 100%;
      min-width: $mainSidebarWidth - 25px;

      .md-ripple-container {
        border-radius: 0;
      }

      .sidebar-menu-icon {
        font-size: 18px;
        margin-right: 5px;
        margin-left: 6px;
      }

      .pull-right {
        position: absolute;
        right: 7px;
        margin-top: 11px;
        font-size: 16px;
        transition: transform 0.3s ease-in-out;
      }

      span {
        vertical-align: middle;
        font-size: 14px;
      }
    }
  }
}

.sidebar-menu .treeview-menu {
  height: 0;
  overflow:hidden;
  list-style: none;
  padding: 0 0 0 6px;
  margin: 0;
  transition: height 0.3s ease-in-out;

  .treeview-menu {
    padding-left: 20px;
  }

  > li {
    position:relative;

    > a {
      text-decoration:none;
      padding: 5px 5px 5px 13px;
      display: block;

      .sidebar-menu-icon {
        font-size: 18px;
        margin-right: 5px;
      }

      span {
        vertical-align: middle;
        font-size: 14px;
      }

      .pull-right {
        position: absolute;
        right: 7px;
        margin-top: 4px;
        font-size: 16px;
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}

.sidebar-menu li.active {
  > .btn-menu {
    > .pull-right {
      transform: rotate(-90deg);
    }
  }

  > a {
    > .pull-right {
      transform: rotate(-90deg);
    }
  }
}

@media (min-width: 768px) {
  .sidebar-mini .main-header {
    .logo {
      width: $miniSidebarWidth;

      .logo-text {
        display: none;
      }
    }

    .navbar {
      margin-left: $miniSidebarWidth;
    }
  }

  .sidebar-mini .main-sidebar {
    transform: translate(0, 0);
    width: $miniSidebarWidth !important;

    .sidebar-content {
      overflow: visible;
    }
  }

  .sidebar-mini .main-sidebar .sidebar-form {
    border: 0 !important;
    margin: 0;
    text-align: center;

    .sidebar-search-group {
      display: none;
    }

    .sidebar-search-mini {
      display: block;
    }

    &:hover {
      cursor: pointer;

      .sidebar-search-group {
        display: block;
        top: $mainHeaderHeightC;
        position: absolute;
        width: $mainSidebarWidth;
        left: $miniSidebarWidth - 1px;
        padding: 5px 0 5px 7px;

        .sidebar-search {
          border-radius: 3px;
        }

        .sidebar-text {
          width: 170px;
        }
      }
    }
  }

  .sidebar-mini .sidebar-menu > li {
    .btn-menu > span,
    .btn-menu > .pull-right,
    > .treeview-menu {
      display: none;
    }

    > .treeview-menu {
      height: auto !important;
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom-right-radius: 3px;
    }

    .btn-menu {
      min-width: $miniSidebarWidth - 1px;
      margin-right: 0;
      border-top-right-radius: 3px;
    }

    &:hover {
      > .btn-menu {
        min-width: $mainSidebarWidth + 40px;

        > span {
          top: 0;
          margin-left: -3px;
          padding: 12px 5px 12px 20px;
          display: block;
          position: absolute;
          left: $miniSidebarWidth;
          line-height: normal;
        }
      }

      > .treeview-menu {
        top: 44px;
        margin-left: 0;
        display: block;
        position: absolute;
        width: $mainSidebarWidth - 10px;
        left: $miniSidebarWidth;
      }
    }
  }

  .sidebar-mini .sidebar-menu  > li:not(.treeview):hover {
    > .btn-menu {
      border-bottom-right-radius: 3px;
    }
  }

  .sidebar-mini .content-wrapper {
    margin-left: $miniSidebarWidth !important;
  }
}

.as-sortable-item-handle {
  cursor: pointer !important;
}
.as-sortable-drag {
  .btn-menu {
    color: #a1afc9;
    .sidebar-menu-icon {
      color: #a1afc9;
    }
  }
  .treeview-menu a {
    color: #a1afc9;
    .sidebar-menu-icon {
      color: #a1afc9;
    }
  }
}

.sidenav-settings {
  background-color: #f9fafc;
}


/* content css */
.content-wrapper {
  margin-left: $mainSidebarWidth;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  background-color: #ecf0f5;
}

.main-content {
  display: inline-block;
  margin-top: $mainHeaderHeightC;
  width: 100%;
  background-color: #ecf0f5;
}


/* footer css */
.main-footer {
  margin-left: $mainSidebarWidth;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  border-top: 1px solid #d2d6de;

  .footer-content {
    padding: 0 8px 0 8px;

    .footer-content-in {
      padding: 10px 12px 10px 12px;
      font-size: 13px;
      color: #333333;

      span {
        color: #478fca;
      }

      .footer-version {
        float: right
      }
    }
  }
}

.sidebar-mini .main-footer {
  margin-left: $miniSidebarWidth;
}


/* phone css */
@media (max-width: 767px) {
  .main-header .logo,
  .main-header .navbar {
    width: 100%;
    float: none;
    position: relative !important;
  }

  .main-header .navbar {
    margin: 0;

    .user-name {
      display: none;
    }

    .user-image {
      margin-top: 0 !important;
      margin-right: 0 !important;
    }
  }

  .main-header .navbar-custom-menu {
    float: right;
  }

  .md-sidenav-right {
    margin-top: $mainHeaderHeightP;
  }

  .main-sidebar {
    transform: translate(0 - $mainSidebarWidth, 0);
  }

  .main-sidebar {
    padding-top: $mainHeaderHeightP;
    .sidebar-form {
      margin: 8px 10px 8px 10px !important;
    }
  }

  .content-wrapper {
    margin-left: 0;
  }

  .main-content {
    margin-top: $mainHeaderHeightP;
  }

  .sidebar-open {
    .content-wrapper {
      transform: translate($mainSidebarWidth, 0);
    }
    .main-footer {
      transform: translate($mainSidebarWidth, 0);
    }
    .main-sidebar {
      transform: translate(0, 0);
    }
  }

  .resource-nav {
    padding-top: $mainHeaderHeightP !important;
  }

  .main-footer {
    margin-left: 0 !important;

    .footer-content {
      .footer-content-in {
        text-align: center;
      }

      .footer-version {
        display: none;
      }
    }
  }
}

@media (max-width: 960px) {
  .resource-nav .resource-nav-in {
    overflow-y: auto !important;
  }

  .resource-nav .resource-nav-left {
    overflow-y: visible !important;
  }

  .resource-nav .resource-nav-right {
    overflow-y: visible !important;
  }
}


/* resource navigation css*/
.resource-nav {
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: #ecf0f5;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 15px;
  padding-top: $mainHeaderHeightC;
  transition: all linear 0.3s;
}

.resource-nav.ng-hide {
  opacity: 0;
}


/* hotkeys css */
.cfp-hotkeys-close {
  font-family: Times New Roman, serif;
}


/* sidebar scrollbar css*/
.main-sidebar ::-webkit-scrollbar {
  width: 5px;
}
.main-sidebar ::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}
.main-sidebar ::-webkit-scrollbar-track {
  background:#f1f1f1;
}


/* material css */
.md-dialog-container{
  .md-title {
    margin-top: 0;
  }
}

/* pea layout css */
@media (min-width: 960px) {
  .pea-layout-left {
    .pea-grid {
      margin: 8px 4px 8px 8px;
    }
  }
  .pea-layout-right {
    .pea-grid {
      margin: 8px 8px 8px 4px;
    }
  }
  .pea-layout-middle-row {
    .pea-grid {
      margin: 8px 4px;
    }
  }
  .pea-layout-top {
    .pea-grid {
      margin: 8px 8px 4px 8px;
    }
  }
  .pea-layout-bottom {
    .pea-grid {
      margin: 4px 8px 8px 8px;
    }
  }
  .pea-layout-middle-column {
    .pea-grid {
      margin: 4px 8px;
    }
  }
  .pea-layout-left-top {
    .pea-grid {
      margin: 8px 4px 4px 8px;
    }
  }
  .pea-layout-left-bottom {
    .pea-grid {
      margin: 4px 4px 8px 8px;
    }
  }
  .pea-layout-right-top {
    .pea-grid {
      margin: 8px 8px 4px 4px;
    }
  }
  .pea-layout-right-bottom {
    .pea-grid {
      margin: 4px 8px 8px 4px;
    }
  }
}
