.registerConfirmToday-content {
  padding: 0 10px;

  .patient {
    border-bottom: 1px solid #dddddd;
    padding: 15px 0 15px 55px;
    font-size: 18px;
    position: relative;

    .photo {
      width: 40px;
      position: absolute;
      top: 5px;
      left: 0;
    }

    a {
      margin-left: 12px;
    }
  }

  .register-info {
    border-bottom: 1px solid #dddddd;
    padding: 12px 0;
    font-size: 15px;

    table {
      width: 100%;

      td {
        padding: 3px 0;
      }

      .label {
        white-space: nowrap;
        color: #999999;
      }
    }
  }

  .visits {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dddddd;

    .item-checkbox {
      position:relative;
      border-right: none;
      border-left: none;
      padding: 0 15px 0 30px;
      left: -5px;
    }

    .agreement {
      padding:  2px !important;
      position: relative;
      color: #999999;
      font-size: 15px;
    }
  }

  .amount {
    padding: 15px 0;
    font-size: 18px;
    text-align: right;
  }

  .confirm {
    .button {
      width: 100%;
    }
  }
}
