.registerDoctorTimeSelect-date {
  position: absolute;
  width: 100%;

  .month {
    padding: 5px 0 0 5px;
  }

  .day-selected {
    border-radius: 50%;
    background-color: #d0eaeb;
    height: 22px;
    width: 22px;
    display: inline-block;
    text-align: center;
  }

  table {
    width: 100%;

    td {
      text-align: center;
      vertical-align: middle !important;

      i {
        font-size: 18px;
      }
    }

    td.week {
      color: #999999;
      font-size: 12px;
    }

    td.day {
      border-right: 1px solid #dddddd;
      font-size: 17px;
      line-height: 22px;
    }
  }

  .list {
    margin-top: 8px;
  }

  .border-none {
    border-right-color: transparent !important;
  }

  .list {
    margin-bottom: 0;
    margin-top: 3px;

    .item.item-avatar-left {
      padding-left: 86px;

      .photo {
        max-width: 55px;
        max-height: 55px;
        top: 18px;
      }

      .name {
        display: flex;
        flex-direction: row;

        h2 {
          display: inline-block;
        }

        p {
          display: inline-block;
          margin-left: 8px;
        }
      }
    }
  }
}

.registerDoctorTimeSelect-content {
  top: 268px !important;

  .time-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      width: 33.3%;
      font-size: 16px;
      color: #666666;
      padding: 12px 16px;
      border-left: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 20px;
        margin-right: 8px;
      }

      &.time-disable {
        background-color: #f0f0f0;
      }
    }
  }
}
