.registerDoctorDateSelect-title {
  a.button.button-clear.icon:before {
    font-size: 26px;
  }

  a.button {
    margin-top: -1px;
    margin-right: 2px;
  }
}

.registerDoctorDateSelect-date {
  position: absolute;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #dddddd;

  .month {
    padding: 5px 0 0 5px;
  }

  .day-selected {
    border-radius: 50%;
    background-color: #d0eaeb;
    height: 22px;
    width: 22px;
    display: inline-block;
    text-align: center;
  }

  table {
    width: 100%;

    td {
      text-align: center;
      vertical-align: middle !important;

      i {
        font-size: 18px;
      }
    }

    td.week {
      color: #999999;
      font-size: 12px;
    }

    td.day {
      border-right: 1px solid #dddddd;
      font-size: 17px;
      line-height: 22px;
    }
  }
}

.registerDoctorDateSelect-content {
  top: 121px !important;

  .list {
    li:first-child {
      border-top: 0;
    }

    .item.item-avatar-left {
      padding-left: 86px;

      .photo {
        max-width: 55px;
        max-height: 55px;
        top: 18px;
      }

      .name {
        display: flex;
        flex-direction: row;

        h2 {
          display: inline-block;
        }

        p {
          display: inline-block;
          margin-left: 8px;
        }

        .can-register {
          color: #ffffff;
          font-size: 12px;
          display: inline-block;
          border-radius: 3px;
          padding: 0 5px;
          margin-left: 8px;
          transform: scale(0.9,0.9);
        }
      }
    }
  }
}
