<ion-view>
  <isj-spinner is-show="$root.inProcess" is-refresh="$root.refreshProcess"></isj-spinner>
  <ion-header-bar class="bar-light registerDoctorDateSelect-title">
    <isj-back-button></isj-back-button>
    <div class="title"></div>
    <a class="button button-clear icon ion-ios-search-strong positive" ng-click="searchClk()"></a>
  </ion-header-bar>

  <div ng-class="{true: 'search-none'}[hideSearch]" class="head-search">
    <form ng-submit="doSearch()">
      <input id="registerDoctorDateSelect_search" type="search" ng-model="major" placeholder="专业/专长">
    </form>
    <div class="search-icon">
      <a class="button button-clear icon ion-ios-search-strong positive" ng-click="searchClk()"></a>
    </div>
  </div>

  <div class="district-select has-header">
        <div class="button-bar">
            <button ng-class="{false: 'button-outline'}[districtId == '1']" class="button button-positive district-button"
                    ng-click="districtClk('1')">
                预约时间
            </button>
            <button ng-class="{false: 'button-outline'}[districtId == '2']" class="button button-positive district-button"
                    ng-click="districtClk('2')">
                预约医生
            </button>
        </div>
  </div>

  <div class="registerDoctorDateSelect-date has-header-district" ng-show="dataPicker.isShow">
        <div class="positive month">{{selectDays[0].month}}月</div>
      <table>
          <tr>
              <td ng-repeat="oneDay in selectDays" class="week" width="13%" ng-click="dayClk($index, '{{oneDay.date}}')">{{oneDay.week}}</td>
              <td rowspan="2" width="9%" ng-click="dayPicker()">
                  <i class="icon ion-ios-arrow-down positive"></i>
              </td>
          </tr>
          <tr>
              <td ng-repeat="oneDay in selectDays" class="day" ng-click="dayClk($index, '{{oneDay.date}}')">
                  <div class="day-select" ng-class="{true: 'positive day-selected'}[oneDay.date==daySelected]">{{oneDay.day}}</div>
              </td>
          </tr>
      </table>
  </div>

  <ion-content ng-class="{false: 'registerDoctorSelect-content'}[dataPicker.isShow]"
               class="has-header content-fill registerDoctorDateSelect-content">
    <ul ng-if="doctors.length > 0" class="list">
      <li ng-repeat="doctor in doctors" class="item item-avatar-left" ng-click="doctorClk(doctor.id, doctor.overCount)">
        <img ng-if="(doctor.photo == null || doctor.photo == '') && doctor.sexCode == '1'" src="./assets/images/doctor_man.png" onerror="this.src='./assets/images/doctor_man.png'" class="photo" ng-click="photoClk(doctor.id, $event)">
        <img ng-if="(doctor.photo == null || doctor.photo == '') && doctor.sexCode == '2'" src="./assets/images/doctor_woman.png" onerror="this.src='./assets/images/doctor_man.png'" class="photo" ng-click="photoClk(doctor.id, $event)">
        <img ng-if="doctor.photo != null && doctor.photo != ''" ng-src="{{doctor.photo}}" class="photo" ng-click="photoClk(doctor.id, $event)">
        <div class="name">
          <h2>{{doctor.name}}</h2>
          <p>{{doctor.title}}</p>
          <div ng-if="doctor.overCount > 0" class="positive-bg can-register">有号</div>
          <div ng-if="doctor.overCount == 0" class="dark-bg can-register">无号</div>
        </div>
        <p>出诊地点：{{doctor.dept}}</p>
        <p>擅长：{{doctor.skill===''?'暂无':doctor.skill}}</p>
          <div class="positive-border district-icon" ng-class="districtColor.get(doctor.districtId)"></div>
        <div class="district-icon-font balanced">{{doctor.district}}</div>
      </li>
    </ul>
    <div ng-if="doctors.length == 0" class="no-content-center">暂无医生排班信息</div>
  </ion-content>
</ion-view>
