.registerTodayDoctorList-content {
  .list {
    li:first-child {
      border-top: 0;
    }

    .item.item-avatar-left {
      padding-left: 86px;

      .photo {
        max-width: 55px;
        max-height: 55px;
        top: 18px;
      }

      .name {
        display: flex;
        flex-direction: row;

        h2 {
          display: inline-block;
        }

        p {
          display: inline-block;
          margin-left: 8px;
        }

        .img-registration {
          display: inline-block;
          margin-left: 8px;

          img {
            width: 12px;
          }
        }
      }
    }
  }
}
