.registerTodayDoctorList-title {
  a.button.button-clear.icon:before {
    font-size: 26px;
  }

  a.button {
    margin-top: -1px;
    margin-right: 2px;
  }
}

.registerTodayDoctorList-content {
  .list {
    li:first-child {
      border-top: 0;
    }

    .item.item-avatar-left {
      padding-left: 86px;

      .photo {
        max-width: 55px;
        max-height: 55px;
        top: 18px;
      }

      .name {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        h2 {
          display: inline-block;
        }

        p {
          display: inline-block;
          margin-left: 8px;
        }

        .can-register {
          color: #ffffff;
          font-size: 12px;
          display: inline-block;
          border-radius: 3px;
          padding: 0 5px;
          margin-left: 8px;
          transform: scale(0.9,0.9);
        }
      }
    }
  }
}
