<isj-spinner is-show="$root.inProcess" is-refresh="$root.refreshProcess"></isj-spinner>
<ion-header-bar class="bar-light">
  <a class="icon-return positive" ng-click="goBack()">
    <i class="icon ion-ios-arrow-left"></i>
    <div>返回</div>
  </a>
  <div class="title"></div>
</ion-header-bar>
<div class="registerDoctorTimeSelect-date has-header">
  <div class="positive month">{{selectDays[0].month}}月</div>
  <table>
    <tr>
      <td ng-repeat="oneDay in selectDays" class="week" width="13%" ng-click="dayClk($index, '{{oneDay.date}}')">
        {{oneDay.week}}
      </td>
      <td ng-if="allDays.length > 7" rowspan="3" width="9%" ng-click="dayPicker()">
        <i class="icon ion-ios-arrow-down positive"></i>
      </td>
      <td ng-if="allDays.length <= 7" rowspan="3" width="9%">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td ng-repeat="oneDay in selectDays" class="day" ng-class="{'': 'border-none'}[oneDay.date]" ng-click="dayClk($index, '{{oneDay.date}}')">
        <div class="day-select" ng-class="{true: 'positive day-selected'}[oneDay.date==daySelected]">
          {{oneDay.day}}
        </div>
      </td>
    </tr>
    <tr>
      <td ng-repeat="oneDay in selectDays" class="week">
        <div>
          {{oneDay.data.registerNum}}<span ng-if="oneDay.data.registerNum != null">/</span>{{oneDay.data.registerNumTotal}}
        </div>
      </td>
    </tr>
  </table>
</div>
<ion-content class="has-header content-fill registerDoctorTimeSelect-content">
  <ul class="list">
    <li class="item item-avatar-left">
      <img ng-if="(photo == null || photo == '') && doctor.sexCode == '1'" src="./assets/images/doctor_man.png" class="photo" ng-click="photoClk(doctor.id)">
      <img ng-if="(photo == null || photo == '') && doctor.sexCode == '2'" src="./assets/images/doctor_woman.png" class="photo" ng-click="photoClk(doctor.id)">
      <img ng-if="photo != null && photo != ''" ng-src="{{photo}}" class="photo" ng-click="photoClk(doctor.id)">
      <div class="name">
        <h2>{{doctor.name}}</h2>
        <p>{{doctor.title}}</p>
        <div class="img-registration">
          <img src="./assets/images/appointment_available.png">
        </div>
      </div>
      <p>出诊地点：{{dataSelected.dept}}（{{dataSelected.district}}）</p>
      <p>挂号费：￥{{dataSelected.amount}}</p>
    </li>
    <li class="item item-divider">
      预约时间
    </li>
  </ul>
  <div class="time-select">
    <div>
      <i class="icon ion-ios-clock-outline"></i>
      <span>09:10</span>
    </div>
    <div>
      <i class="icon ion-ios-clock-outline"></i>
      <span>09:20</span>
    </div>
    <div>
      <i class="icon ion-ios-clock-outline"></i>
      <span>09:30</span>
    </div>
    <div>
      <i class="icon ion-ios-clock-outline"></i>
      <span>09:40</span>
    </div>
    <div>
      <i class="icon ion-ios-clock-outline"></i>
      <span>09:50</span>
    </div>
    <div>
      <i class="icon ion-ios-clock-outline"></i>
      <span>10:00</span>
    </div>
    <div>
      <i class="icon ion-ios-clock-outline"></i>
      <span>10:10</span>
    </div>
    <div>
      <i class="icon ion-ios-clock-outline"></i>
      <span>10:20</span>
    </div>
    <div>
      <i class="icon ion-ios-clock-outline"></i>
      <span>10:30</span>
    </div>
  </div>
</ion-content>
