<ion-view>
  <isj-spinner is-show="spinnerShow"></isj-spinner>
  <ion-header-bar class="bar-light registerTodayDoctorList-title">
    <isj-back-button></isj-back-button>
    <div class="title"></div>
    <a class="button button-clear icon ion-ios-search-strong positive" ng-click="searchClk()"></a>
  </ion-header-bar>
  <ion-header-bar ng-class="{true: 'search-none'}[hideSearch]" class="head-search">
    <form ng-submit="doSearch()">
      <input id="registerTodayDoctorList_search" type="search" ng-model="major" placeholder="姓名或专长">
    </form>
    <div class="search-icon">
      <a class="button button-clear icon ion-ios-close-empty positive" ng-click="searchClk()"></a>
    </div>
  </ion-header-bar>
  <ion-content class="has-header content-fill registerTodayDoctorList-content">
    <div ng-if="doctors.length == 0" class="no-content-center">
      <span ng-if="majorTmp == null || majorTmp == ''">暂无医生排班信息</span>
      <span ng-if="majorTmp != null && majorTmp != ''">暂无结果，请重新输入关键字</span>
    </div>
    <ul ng-if="doctors.length > 0" class="list">
      <li class="item item-avatar-left" collection-repeat="doctor in doctors" ng-click="doctorClk(doctor.id, doctor.overCount)">
        <div class="photo">
          <img ng-if="(doctor.photo == null || doctor.photo == '') && doctor.sexCode == '1'" src="./assets/images/doctor_man.png" ng-click="photoClk(doctor.id, $event)">
          <img ng-if="(doctor.photo == null || doctor.photo == '') && doctor.sexCode == '0'" src="./assets/images/doctor_woman.png" ng-click="photoClk(doctor.id, $event)">
          <img ng-if="doctor.photo != null && doctor.photo != ''" ng-src="{{doctor.photo}}" ng-click="photoClk(doctor.id, $event)">
        </div>
        <div class="name">
          <h2>{{doctor.name}}</h2>
          <p>{{doctor.title}}</p>
          <div ng-if="doctor.overCount > 0" class="positive-bg can-register">有号</div>
          <div ng-if="doctor.overCount == 0" class="dark-bg can-register">无号</div>
        </div>
        <p>出诊地点：{{doctor.dept}}</p>
        <p>擅长：{{doctor.skill===''?'暂无':doctor.skill}}</p>
        <div class="positive-border district-icon" ng-class="districtColor.get(doctor.districtId)"></div>
        <div class="district-icon-font balanced">{{doctor.district}}</div>
      </li>
    </ul>
    <ion-infinite-scroll ng-if="vm.moreData" on-infinite="vm.loadMore()" distance="2%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
