<pea-grid grid-param="gridParam"></pea-grid>
<div class="search-sheet-custom">
    <div layout-gt-sm="row" style="height: 70px;">
        <md-input-container class="md-block" flex-gt-sm>
            <label>姓名</label>
            <input ng-model="name" required>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>病历号</label>
            <input ng-model="medicalNum" required>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>请输入手机号或身份证</label>
            <input ng-model="phoneOrIdcard" required>
        </md-input-container>
    </div>
    <div class="search-sheet-actions">
        <md-button class="md-primary btn-advanced-search" aria-label="查询" ng-click="customSearch()">
            查询
        </md-button>
        <md-button aria-label="重置" ng-click="customReset()">
            重置
        </md-button>
        <md-button aria-label="关闭" ng-click="closeSearch()">
            关闭
        </md-button>
    </div>
</div>
<div class="search-backdrop-custom" ng-click="closeSearch()"></div>
