.customer-table{
  width: 100%;
  .customer-tr{
    height: 42px;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
    td{
      text-align: center;
      border-bottom: 1px solid rgba(0,0,0,0.11);
    }
  }
  .customer-title{
    font-weight: bold;
    white-space: nowrap;
    padding-left: 24px;
    color: rgba(0, 0, 0, 0.56);
    .title-td{
      padding-left: 24px;
      border-bottom:none;
      text-align: left;
    }
  }
}