<md-dialog ng-cloak style="width:1000px;">
    <form name="opinionForm">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-title">门诊流水号详细信息</h2>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>患者姓名</label>
                    <input required name="userName" ng-model="recipeordersData.patientName" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>门诊流水号</label>
                    <input name="userTel" ng-model="recipeordersData.clinicCode" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>操作者姓名</label>
                    <input name="opinionTime" ng-model="recipeordersData.operatorName" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>操作者电话</label>
                    <input name="feedbackTime" ng-model="recipeordersData.operatorPhone" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>交易状态</label>
                    <input name="userTel" ng-model="recipeordersData.status" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>门诊流水号创建时间</label>
                    <input name="userTel" ng-model="recipeordersData.createTime" readonly="true">
                </md-input-container>
            </div>
            <div layout-gt-sm="row" ng-if="recipeordersData.statusCode === '0'">
                未支付处方信息
            </div>
            <div layout-gt-sm="row" ng-if="recipeordersData.statusCode === '0'">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>交易单号</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeNonPaidDetail.orderNum" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>总金额</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeNonPaidDetail.amount" readonly="true">
                </md-input-container>
            </div>
            <div layout-gt-sm="row" ng-if="recipeordersData.statusCode === '1'">
                已支付处方信息
            </div>
            <div layout-gt-sm="row" ng-if="recipeordersData.statusCode === '1'">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>交易单号</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeOrderReqMap.orderId" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>支付金额</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeOrderReqMap.payTotalFee" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>支付时间</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeOrderReqMap.payDate" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>支付平台</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeOrderReqMap.payChannelId" readonly="true">
                </md-input-container>
            </div>
            <div layout-gt-sm="row" ng-if="recipeordersData.statusCode === '1'">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>his响应</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeOrderHisMap.clientReturnMsg" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>his响应时间</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeOrderHisMap.CT" readonly="true">
                </md-input-container>
            </div>
            <div layout-gt-sm="row" ng-if="recipeordersData.statusCode === '2'">
                支付失败处方信息
            </div>
            <div layout-gt-sm="row" ng-if="recipeordersData.statusCode === '2'">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>交易单号</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipePaidFailDetailList.orderNum" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>退款单号</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipePaidFailDetailList.refundNum" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>支付失败金额</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipePaidFailDetailList.amount" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>支付平台</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeOrderReqMap.payChannelId" readonly="true">
                </md-input-container>
            </div>
            <div layout-gt-sm="row" ng-if="recipeordersData.statusCode === '2'">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>失败描述</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipePaidFailDetailList.description" readonly="true">
                </md-input-container>
            </div>
            <div layout-gt-sm="row" ng-if="recipeordersData.statusCode === '2'">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>his响应状态</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeOrderHisMap.clientReturnMsg" readonly="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>his响应时间</label>
                    <input name="feedbackTime" ng-model="recipeordersData.recipeOrderHisMap.CT" readonly="true">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <span flex></span>
            <md-button ng-disabled="isSubmit" ng-click="cancel()">
                关闭
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
