.isj-date-select {
  width: 100%;
  .date-nav {
    position: relative;
    display: flex;
    flex-direction: row;

    .month {
      position: absolute;
      top: 0;
      left: 18px;
      z-index: 99;
      background-color: #fff;
      text-align: center;
    }

    .scroll-bar-indicator {
      display: none !important;
    }

    .date-scroll::-webkit-scrollbar {
      width: 0;
    }

    .date-move {
      text-align: center;
      background-color: transparent;
      padding-top: 20px;
      i {
        line-height: 50px;
      }
    }

    .date-scroll {
      table {
        td {
          text-align: center;
          vertical-align: middle !important;
        }

        .td-month{
          color: #387ef5;
          font-size: 14px;
        }
        td.week {
          color: #999999;
          font-size: 12px;
        }

        td.day {
          font-size: 17px;
          line-height: 22px;

          .day-selected {
            border-radius: 50%;
            background-color: #d0eaeb;
            height: 22px;
            width: 22px;
            display: inline-block;
            text-align: center;
          }
        }

        td.day:not(:last-child) {
          border-right: 1px solid #dddddd;
        }
      }
    }
  }
}
