ion-content {
  background-color: #f4f4f4 !important;
}

ion-content.content-introduce {
  padding: 25px;
}

a {
  text-decoration: none !important;
  color: #000000;
}

.positive {
  color: #387ef5 !important;
}

.positive-border {
  border-color: #387ef5 !important;
}

.a-return {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;
  margin-top: 2px;

  i {
    font-size: 28px;
    margin-right: 3px;
  }

  div {
    font-size: 17px;
  }
}

.title-photo {
  height: 35px;
  width: 35px;
  vertical-align: middle;
  margin: -5px 20px 0 -20px;
}

.title-operation-down {
  margin-left: 3px;
}

.list-right-icon {
  color: #999999;
  font-size: 22px !important;
}
