@font-face {
  font-family: 'Ionicons';
  src: url(/styles/fonts/ionicons.eot?v=2.0.1),
  url(/styles/fonts/ionicons.eot?v=2.0.1#iefix) format('embedded-opentype'),
  url(/styles/fonts/ionicons.ttf?v=2.0.1) format('truetype'),
  url(/styles/fonts/ionicons.woff?v=2.0.1) format('woff'),
  url(/styles/fonts/ionicons.woff) format("woff"),
  url(/styles/fonts/ionicons.svg?v=2.0.1#Ionicons) format('svg');
  font-weight: normal;
  font-style: normal;
}
