@font-face {
  font-family: 'Ionicons';
  src: url(/styles/fonts/ionicons.eot);
  src: url(/styles/fonts/ionicons.eot) format('embedded-opentype'),
  url(/styles/fonts/ionicons.ttf) format('truetype'),
  url(/styles/fonts/ionicons.woff) format('woff'),
  url(/styles/fonts/ionicons.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
