.medicalCardEdit-content {
  .list.list-inset {
    margin: 12px 20px;

    .item-input {
      padding-left: 20px;

      .input-label {
        width: 40px;
        padding-bottom: 2px;

        img {
          width: 23px;
        }
      }

      input {
        font-size: 16px;
      }
    }
  }

  .operation {
    padding: 5px 20px 0 20px;

    .button {
      width: 100%;
    }
  }

  .create {
    padding: 5px 20px 0 20px;

    .button {
      width: 100%;
      margin-top: 5px;
      background-color: #fff;
    }
  }
}
