.personal-title {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .personal-title-img {
    height: 50px;
    width: 50px;
  }

  .personal-title-font1 {
    margin-top: 12px;
    color: #ffffff;
    font-size: 16px;
  }

  .personal-title-font2 {
    margin-top: 12px;
    color: #ffffff;
    font-size: 13px;
  }
}

.personal-content {
  overflow-y: auto !important;
}

.personal-list {
  .personal-list-left-icon {
    font-size: 28px;
  }

  .personal-list-right-icon {
    color: #999999;
    font-size: 22px;
  }
}
