/* global css */
ion-content {
  background-color: #f4f4f4 !important;
}

/* main css */
.main-title .title {
  color: #387ef5 !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  letter-spacing: 0.1em !important;
}

.main-content {
  > .scroll {
    height: 100%;
  }

  .row {
    padding: 0;
    margin: 0;

    .main-grid-carousel {
      padding: 0;
      margin: 0;
      display: flex;
      position: relative;

      > ul {
        flex-grow: 1;
      }

      .main-grid-img {
        height: 100%;
        width: 100%;
        background-size:100% 100%;
      }

      .main-carousel-footer {
        position: absolute;
        bottom: 0;
        height: 35px;
        width: 100%;
        z-index: 6;
        background:rgba(0,0,0,0.2);
        color: #ffffff;
        text-align: center;
        padding: 2px 0;
      }
    }

    .main-grid-col {
      border-left: 1px solid #dddddd;
      border-bottom: 1px solid #e0e0e0;
      background-color: #ffffff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .main-grid-icon {
        border-width: 1px;
        border-style: solid;
      }

      .main-grid-icon {
        height: 33px;
        width: 33px;
        border-radius: 50%;

        i {
          font-size: 25px;
          line-height: 33px;
        }
      }

      .main-grid-space {
        height: 9px;
        width: 9px;
      }

      .main-grid-font {
        font-size: 15px;
      }
    }

    .main-grid-row {
      flex-direction: row;
    }

    .main-grid-column {
      flex-direction: column;
    }
  }
}

/* register css */
.register-title-image {
  height: 35px;
  width: 35px;
  vertical-align: middle;
  margin: -5px 20px 0 -20px;
}

.register-title-icon {
  margin-left: 3px;
  font-weight: 600;
}

.register-content {
  text-align: center;

  > .scroll {
    height: 100%;
  }

  .register-content-no {
    font-size: 13px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* personal css */
.personal-title {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .personal-title-img {
    height: 50px;
    width: 50px;
  }

  .personal-title-font1 {
    margin-top: 12px;
    color: #ffffff;
    font-size: 16px;
  }

  .personal-title-font2 {
    margin-top: 12px;
    color: #ffffff;
    font-size: 13px;
  }
}

.personal-list {
  .personal-list-left-icon {
    font-size: 28px;
  }

  .personal-list-right-icon {
    color: #999999;
    font-size: 22px;
  }
}
