<md-dialog ng-cloak style="width:800px;">
  <form name="districtForm">
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">院区信息</h2>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>院区ID</label>
          <input required name="navId" ng-model="district.navId" required>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>院区名称</label>
          <input name="navName" ng-model="district.navName" required>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <span flex></span>
      <md-button ng-disabled="isSubmit" ng-click="cancel()">
        关闭
      </md-button>
      <md-button type="submit" class="md-primary" ng-disabled="isSubmit" ng-click="submit()">
        提交
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
