.onlinePayment-subheader {
  justify-content: center;

  .payStatus-select {
    padding: 0;

    select {
      background: transparent;
      position: inherit;
      font-size: 17px;
      padding: 0 6px 0 0;
      margin-left: auto;
      direction: inherit;
      width: 75px;
    }

    &:after {
      border-top: 0;
    }

    i {
      font-size: 20px;
      margin-right: auto;
    }
  }
}

.onlinePayment-content {
  background-color: #ffffff !important;

  .no-payment {
    text-align: center;
    padding-top: 150px;
    font-size: 18px;
    color: #999999;
  }
}
