<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>挂号规则分类</label>
    <input ng-model="gridParam.searchData.catalogue">
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>挂号规则名称</label>
    <input ng-model="gridParam.searchData.name">
  </md-input-container>
</div>
<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>挂号规则内容</label>
    <textarea ng-model="gridParam.searchData.rule"></textarea>
  </md-input-container>
</div>
