<ion-view>
  <isj-spinner is-show="$root.inProcess"></isj-spinner>
  <ion-header-bar class="bar-light">
    <isj-back-button></isj-back-button>
    <div class="title">选择关系</div>
  </ion-header-bar>
  <ion-content class="has-header content-gray familyMemberAdd-content">
    <ul>
      <li ng-repeat="memberType in memberTypes">
        <div ng-click="medicalCardEdit(memberType.code)">
          <span><img ng-src="{{memberType.img}}"></span>
          <span class="name">{{memberType.name}}</span>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
