<ion-header-bar class="bar-light">
  <a class="icon-return positive" href="javascript:history.go(-1)">
    <i class="icon ion-ios-arrow-left"></i>
    <div>返回</div>
  </a>
  <div class="title">选择关系</div>
</ion-header-bar>
<ion-content class="has-header content-gray familyMemberSelect-content">
  <ul>
    <li ng-repeat="relationship in relationshipTypes">
      <div ng-click="medicalCardEdit()">
        <span><img src="{{relationship.img}}"></span>
        <span class="name">{{relationship.name}}</span>
      </div>
    </li>
  </ul>
</ion-content>
