<ion-view>
  <isj-spinner is-show="$root.inProcess"></isj-spinner>
  <ion-header-bar class="bar-light">
    <isj-back-button></isj-back-button>
    <div class="title">家庭成员</div>
    <button class="button button-clear button-positive" ng-click="familyMemberAdd()">添加</button>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader bar-light familyMemberList-subheader">
    <div class="title">已添加{{members.length}}位家庭成员，还可以添加{{9-members.length}}位</div>
  </ion-header-bar>
  <ion-content class="has-header has-subheader content-gray familyMemberList-content">
    <ul class="list">
      <li ng-repeat="member in members" class="item item-avatar-left" ng-click="medicalCardEdit(member.id)">
        <img ng-if="member.memberCode == '00' && member.sexCode == '1'" src="./assets/images/pic_man.png" class="photo">
        <img ng-if="member.memberCode == '00' && member.sexCode == '0'" src="./assets/images/pic_woman.png" class="photo">
        <img ng-if="member.memberCode != '00'" ng-src="{{memberTypes[member.memberCode].img}}" class="photo">
        <div class="relationship-name">
          <span ng-if="member.memberCode == '00'">我</span>
          <span ng-if="member.memberCode != '00'">{{memberTypes[member.memberCode].name}}</span>
        </div>
        <div class="name-sex-age">
          <h2 class="name">{{member.name}}</h2>
          <img ng-if="member.sexCode == '1'" src="./assets/images/man.png" class="sex">
          <img ng-if="member.sexCode == '0'" src="./assets/images/woman.png" class="sex">
          <p class="age">{{member.age}}</p>
        </div>
        <p>
          <img ng-if="member.patientVisits == '1'" src="./assets/images/id_s.png" class="photo-card">
          <img ng-if="member.patientVisits == '0'" src="./assets/images/id_d.png" class="photo-card">
          <span>{{member.idCard}}</span>
        </p>
        <p>
          <img ng-if="member.patientVisits == '1'" src="./assets/images/telephone_s.png" class="photo-tel">
          <img ng-if="member.patientVisits == '0'" src="./assets/images/telephone_d.png" class="photo-tel">
          <span>{{member.phone}}</span>
        </p>
        <img ng-if="member.patientVisits == '1'" src="./assets/images/client.png" class="patient-visits">
      </li>
    </ul>
  </ion-content>
</ion-view>
