<ion-view>
  <isj-spinner is-show="$root.inProcess"></isj-spinner>
  <ion-header-bar class="bar-light">
    <isj-back-button></isj-back-button>
    <div class="title">楼层索引</div>
  </ion-header-bar>
  <ion-content class="has-header content-gray floorList-content">
    <ul class="list list-inset">
      <li ng-repeat="floor in floorList" class="item">
        <div class="floor positive-bg">{{floor.name}}</div>
        <div class="floor-introduce">
          <span ng-repeat="dept in floor.depts">{{dept}}</span>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
