.floorList-content {
  padding: 15px;

  .card {
    margin: 0 !important;
  }

  .item {
    position: relative;
    padding: 10px 10px 10px 70px;
    font-size: 14px !important;

    .floor {
      position: absolute;
      display: inline-block;
      left: 0;
      top: 10px;
      color: #ffffff;
      width: 60px;
      text-align: center;
    }

    .floor-introduce {
      white-space: normal;

      span:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
}
