.deptList-content {
  .dept-select {
    display: flex;
    flex-direction: row;
    height: 100%;
    border-top: 1px solid #dddddd;

    .dept-scroll {
      height: 100%;

      .dept-div {
        border-bottom: 1px solid #dddddd;
        border-left: 3px solid transparent;
        font-size: 18px;
        color: #666666;
        padding: 8px 0 8px 20px;

        .icon-dept-select {
          display: none;
          margin-right: 3px;
        }

        .icon-dept-selected {
          display: inline-block !important;
        }
      }

      .left-activated {
        border-left-color: #387ef5;
      }

      &.dept-scroll-left {
        border-right: 1px solid #999999;
        width: 35%;
        background: #f0f0f0;
      }

      &.dept-scroll-right {
        width: 65%;

        .dept-div-right:active {
          background-color: #d4d4d4;
        }
      }
    }
  }
}
