<ion-header-bar class="bar-light">
  <a class="icon-return positive" href="javascript:history.go(-1)">
    <i class="icon ion-ios-arrow-left"></i>
    <div>返回</div>
  </a>
  <div class="title">
    科室列表
  </div>
</ion-header-bar>
<div class="district-select has-header">
  <div class="button-bar">
    <button ng-repeat="district in districts" class="button button-outline button-positive district-button"
            ng-click="districtClk($event, '{{district.id}}')">
      {{district.name}}
    </button>
  </div>
</div>
<ion-content scroll="false" has-bouncing="false" class="has-header has-header-district content-fill deptList-content">
  <div class="dept-select">
    <ion-scroll class="dept-scroll dept-scroll-left">
      <div ng-repeat="dept in depts" class="dept-div dept-div-left" ng-click="deptLeftClk($event, '{{dept.id}}')">
        {{dept.name}}
      </div>
    </ion-scroll>
    <ion-scroll class="dept-scroll dept-scroll-right">
      <div ng-repeat="deptRight in deptRights" class="dept-div dept-div-right" ng-click="deptRightClk('{{deptRight.id}}')">
        {{deptRight.name}}
      </div>
    </ion-scroll>
  </div>
</ion-content>
