<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>温馨提示类型编码</label>
    <input ng-model="gridParam.searchData.infoType">
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>温馨提示类型名称</label>
    <input ng-model="gridParam.searchData.typeName">
  </md-input-container>
</div>
<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>温馨提示内容</label>
    <textarea ng-model="gridParam.searchData.info"></textarea>
  </md-input-container>
</div>
