.forget-password-content{

  .list{
    margin-top: 20px;
    .item .forget-password-input{
      margin-left: 40px;
    }
  }

  .div-button{
    padding: 20px;

    .button{
      width: 100%;
    }
  }

}