<ion-view>
  <isj-spinner is-show="$root.inProcess" is-refresh="$root.refreshProcess"></isj-spinner>
  <ion-header-bar class="bar-light">
    <isj-back-button></isj-back-button>
    <div class="title">忘记密码</div>
  </ion-header-bar>
  <ion-content class="has-header content-gray forget-password-content" scroll="false" has-bouncing="false">
    <div class="list">
      <label class="item item-input">
        手机号
        <input class="forget-password-input" type="number" placeholder="11位数字" ng-model="input.phone">
      </label>
    </div>
    <div class="div-button">
      <button class="button button-positive" ng-click="getCode()" ng-disabled="!(input.phone.toString().length == 11) && !isSubmit">获取验证码</button>
    </div>
  </ion-content>
</ion-view>
