.forgetPasswordSetting-content{
  .prompt{
    padding: 15px;
    font-size: 15px;
    color: #666666;

    p {
      margin: 0;
    }
  }

  .list{
    margin: 0;

    .item {
      .code-input{
        margin-left: 40px;
        padding-right: 5px;
      }
      .password-input{
        margin-left: 55px;
      }
      .button-resend{
        min-height:25px !important;
        line-height: 25px !important;
        padding: 0 5px;
        font-size: 14px;
        position: absolute;
        right: 10px;
        top: 9px;
      }
    }
  }

  .div-button{
    padding: 15px;

    .button{
      width: 100%;
    }
  }
}
