<ion-view>
  <ion-header-bar class="bar-light">
    <isj-back-button go-back="goBack()"></isj-back-button>
    <div class="title">登录</div>
  </ion-header-bar>
  <ion-content class="has-header content-gray login-content" scroll="false" has-bouncing="false">
    <div class="warm-prompt">
      <i class="ion-ios-information-outline"></i>
      温馨提示：已注册老版本的用户密码默认是身份证后6位，如果登录失败可以尝试找回密码或者重新注册使用
    </div>

    <div class="list">
      <label class="item item-input item-icon-left">
        <i class="icon ion-ios-person-outline list-icon-left"></i>
        <input id="login-phone" class="login-input" type="number" placeholder="请输入手机号" ng-model="input.phone">
      </label>
      <label class="item item-input item-icon-left">
        <i class="icon ion-ios-unlocked-outline list-icon-left"></i>
        <input id="login-password" class="login-input" type="password" placeholder="请输入密码" ng-model="input.password" >
      </label>
    </div>

    <div class="div-button">
      <button class="button button-positive" ng-click="login()">登录</button>
    </div>
    <div class="div-a">
      <a href="#/regist" class="positive">注册</a>
      <a href="#/forgetPassword" class="positive forget-password">忘记密码</a>
    </div>
  </ion-content>
</ion-view>
