.registSetting-content{
  .prompt{
    padding: 15px;
    font-size: 15px;
    color: #666666;
  }
  .list{
    margin: 0px;

    .item
      .idCard-input{
          margin-left: 25px;
       }
      .name-input{
        margin-left: 57px;
      }
      .code-input{
        margin-left: 42px;
      }
      .password-input{
        margin-left: 57px;
      }

    .button-resend{
      min-height:25px !important;
      line-height: 25px !important;
      margin-right: 10px;
      width: 35%;
      padding: 0;

    }

  }
  .div-button{
    padding: 15px;

    .button{
      width: 100%;
    }
  }
}